/**
 * @file
 * Presentational styles for Drupal dialogs.
 */

.ui-dialog {
  position: absolute;
  z-index: 1260;
  overflow: visible;
  color: #000;
  border: 0;
  padding: 0;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

@media all and (max-width: 48em) { /* 768px */
  .ui-dialog {
    width: 92% !important;
  }
}
.ui-dialog .ui-dialog-titlebar {
  font-weight: bold;
  background: color("shades", "white");
  padding-top: 20px;
  border: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
  border: 0;
  background: none;
  top: 1rem;
}
.ui-dialog-title {
  font-weight: normal;
  font-size: 1.5rem;
  margin: 1.14rem 0 .912rem 0;
}
.ui-dialog .ui-dialog-buttonpane {
  margin-top: 0;
  background: color("shades", "white");
  padding: .3em 1em;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  margin: 0;
  padding: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
  padding: 0;
}

/* Form action buttons are moved in dialogs. Remove empty space. */
.ui-dialog .ui-dialog-content .form-actions {
  padding: 0;
  margin: 0;
}
.ui-dialog .ajax-progress-throbber {
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%;
  position: fixed;
  top: 48.5%;
  z-index: 1000;
  background-color: transparent;
  background-image: url(../images/spinner.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 7px;
  height: 150px;
  opacity: 0.9;
  padding: 4px;
  width: 150px;
}
.ui-dialog .ajax-progress-throbber .throbber,
.ui-dialog .ajax-progress-throbber .message {
  display: none;
}

.views-ui-dialog .views-override:not(:empty),
.ui-widget-content,
.ui-dialog .ui-dialog-content,
.views-ui-dialog,
.ui-dialog {
  background: color("shades", "white");
  border: 0;
}

.views-ui-dialog .views-override:not(:empty) {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.ui-dialog .ui-dialog-buttonpane button {
  @extend .btn, .btn-flat, .darken-3, .text-darken-2;
  background: none;
  &.ui-state-hover {
    color: #343434 !important;
  }
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}
