/**
 * @file
 * Presentational styles for Drupal dialogs.
 */

.ui-dialog {
  @extend .z-depth-5;

  position: absolute;
  z-index: 1260;
  border: 0;
  border-radius: 2px;
  background: $body-background;
  padding: 10px 0;
  overflow: visible;
  color: $black;
  .ui-dialog-buttonpane {
    margin-top: 0;
    border: 0;
    border-top: 1px solid $transparent-black;
    background: $body-background;
    padding: .3em 1em;
    .ui-dialog-buttonset {
      margin: 0;
      padding: 0;
      button {
        @extend .btn,
        .btn-flat;

        background: none;
        &.button--danger {
          @extend .button--danger;
          &::after {
            @extend .material-icons;

            display: inline;
            padding-left: 5px;
            vertical-align: text-top;
            font-size: 1.2rem;
            content: 'delete';
          }
        }
        &.success {
          @extend .status-text-color;
          &::after {
            @extend .material-icons;

            display: inline;
            padding-left: 5px;
            vertical-align: text-top;
            font-size: 1.2rem;
            content: 'send';
          }
        }
        &.ui-state-hover,
        &:hover {
          background: color($utility, 'lighten-3');
          color: color($utility, 'darken-4') !important;
        }
      }
    }
    .ui-button-text-only .ui-button-text {
      padding: 0;
    }
  }
  .views-offset-top {
    border-bottom: 1px solid color($utility, 'lighten-1');
  }
  .ui-dialog-titlebar {
    border: 0;
    border-bottom: 1px solid color($utility, 'lighten-1');
    border-radius: 0;
    background: $body-background;
    font-weight: bold;
    .ui-dialog-title {
      margin: 0.5rem 0;
      font-size: 1.5rem;
      font-weight: normal;
    }
    .ui-dialog-titlebar-close {
      top: 2rem;
      right: 2rem;
      border: 0;
      background: none;
    }
  }
  .ajax-progress-throbber {
    position: fixed;
    top: 48.5%;
    /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
    left: 49%;
    opacity: 0.9;
    z-index: 1000;
    border-radius: 7px;
    background-color: transparent;
    background-image: url('../images/spinner.svg');
    background-repeat: no-repeat;
    background-position: center center;
    padding: 4px;
    width: 150px;
    height: 150px;
    .throbber,
    .message {
      display: none;
    }
  }
  .views-override:not(:empty) {
    border-bottom: 1px solid $transparent-black;
  }
  .ui-dialog-content {
    .form-actions {
      margin: 0;
      padding: 0;
    }
    a:not(.ui-tabs-anchor):not(.webform-element-help) {
      color: color($primary, 'base');
    }
  }
}

.views-ui-display-tab-bucket.collection .collection-item {
  background: $body-background;
}

@media #{$medium-and-down} {
  .ui-dialog {
    width: 92% !important;
  }
}

.ui-widget-content,
.ui-dialog .ui-dialog-content,
.views-ui-dialog {
  border: 0;
  background: $body-background;
}

.ui-widget,
.ui-dialog,
.ui-widget-content,
.ui-widget-header,
.ui-widget button {
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $global-font-size;
  font-smooth: always;
}

.cke_dialog {
  @extend .z-depth-5;

  border: 0;
  border-bottom: 1px solid color($utility, 'lighten-1');
  border-radius: 0;
  background: $white;
  padding-top: 20px;
  font-weight: bold;
  >tbody>tr>td {
    padding: 0;
  }
  .cke_dialog_title {
    margin: 0.5rem 0;
    background: none;
    font-size: 1.5rem;
    font-weight: normal;
  }
  .cke_resizer {
    position: absolute;
    margin: 0 !important;
  }
  .cke_resizer_rtl {
    bottom: 5px;
    left: 5px;
  }
  .cke_resizer_ltr {
    right: 5px;
    bottom: 5px;
  }
  .cke_dialog_body {
    position: relative;
  }
  .cke_dialog_footer {
    background: none;
  }
  .cke_dialog_ui_select {
    position: relative;
  }
  .cke_dialog_contents {
    margin-bottom: 0;
  }
  div.cke_dialog_ui_input_select {
    display: block;
  }
  input.cke_dialog_ui_input_text:hover,
  input.cke_dialog_ui_input_password:hover,
  textarea.cke_dialog_ui_input_textarea:hover,
  input.cke_dialog_ui_input_text:focus,
  input.cke_dialog_ui_input_password:focus,
  textarea.cke_dialog_ui_input_textarea:focus,
  select.cke_dialog_ui_input_select:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding-left: 0;
  }
}
