/**
 * @file
 * Presentational styles for Drupal dialogs.
 */

.ui-dialog {
  position: absolute;
  z-index: 1260;
  overflow: visible;
  color: $black;
  border: 0;
  padding: 0;
  @extend .z-depth-5;
  border-radius: 2px;
  background: $body-background;
  border: 0;
  .ui-dialog-buttonpane {
    margin-top: 0;
    background: $body-background;
    padding: .3em 1em;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    .ui-dialog-buttonset {
      margin: 0;
      padding: 0;
      button {
        @extend .btn, .btn-flat;
        background: none;
        &.button--danger {
          @extend .button--danger;
          &:after {
            @extend .material-icons;
            content:'delete';
            display:inline;
            vertical-align: text-top;
            font-size:1.2rem;
            padding-left:5px;
          }
        }
        &.success {
          @extend .status-text-color;
          &:after {
            @extend .material-icons;
            content:'send';
            display:inline;
            vertical-align: text-top;
            font-size:1.2rem;
            padding-left:5px;
          }
        }
        &.ui-state-hover, &:hover {
          color: color($utility, "darken-4") !important;
          background: color($utility, "lighten-3");
        }
      }
    }
    .ui-button-text-only .ui-button-text {
      padding: 0;
    }
  }
  .views-offset-top {
    border-bottom: 1px solid color($utility, "lighten-1");
  }
  .ui-dialog-titlebar {
    font-weight: bold;
    background: $body-background;
    padding-top: 20px;
    border: 0;
    border-radius:0;
    border-bottom: 1px solid color($utility, "lighten-1");
    .ui-dialog-title {
      font-weight: normal;
      font-size: 1.5rem;
      margin: 0.5rem 0;
    }
    .ui-dialog-titlebar-close {
      border: 0;
      background: none;
      top: 2rem;
      right: 2rem;
    }
  }
  .ajax-progress-throbber {
    /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
    left: 49%;
    position: fixed;
    top: 48.5%;
    z-index: 1000;
    background-color: transparent;
    background-image: url(../images/spinner.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 150px;
    opacity: 0.9;
    padding: 4px;
    width: 150px;
    .throbber,
    .message {
      display: none;
    }
  }
  .views-override:not(:empty) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .ui-dialog-content {
    .form-actions {
      padding: 0;
      margin: 0;
    }
    a:not(.ui-tabs-anchor):not(.webform-element-help) {
      color: color($primary, "base");
    }
  }
}

.views-ui-display-tab-bucket.collection .collection-item {
  background:$body-background;
}

@media #{$medium-and-down} {
  .ui-dialog {
    width: 92% !important;
  }
}

.views-ui-dialog .views-override:not(:empty),
.ui-widget-content,
.ui-dialog .ui-dialog-content,
.views-ui-dialog {
  background: $body-background;
  border: 0;
}

.ui-widget, .ui-dialog, .ui-widget-content, .ui-widget-header, .ui-widget button{
  font-family: $body-font-family;
  font-size: $global-font-size;
  color:$body-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cke_dialog {
  font-weight: bold;
  background: $white;
  padding-top: 20px;
  border: 0;
  border-radius:0;
  border-bottom: 1px solid color($utility, "lighten-1");
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  > tbody > tr > td {
    padding: 0;
  }
  .cke_dialog_title {
    font-weight: normal;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    background: none;
  }
  .cke_resizer {
    position: absolute;
    margin: 0 !important;
  }
  .cke_resizer_rtl {
    left: 5px;
    bottom: 5px;
  }
  .cke_resizer_ltr {
    right: 5px;
    bottom: 5px;
  }
  .cke_dialog_body {
    position: relative;
  }
  .cke_dialog_footer {
    background: none;
  }
  .cke_dialog_ui_select {
    position: relative;
  }
  .cke_dialog_contents {
    margin-bottom: 0;
  }
  div.cke_dialog_ui_input_select {
    display: block;
  }
  input.cke_dialog_ui_input_text:hover, input.cke_dialog_ui_input_password:hover, textarea.cke_dialog_ui_input_textarea:hover,
  input.cke_dialog_ui_input_text:focus, input.cke_dialog_ui_input_password:focus, textarea.cke_dialog_ui_input_textarea:focus, select.cke_dialog_ui_input_select:focus {
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 0;
  }
}
