/* @file
 * Vertical tabs override
 *
 */

.form-type-vertical-tabs {
  height:auto;
  @extend .row;
  > label {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid map-get($grey, lighten-2);
    width: 100%;
    display: block;
  }
  ul.vertical-tabs__menu {
    @extend .col, .m3;
    position: relative;
    z-index:2;
    padding-right:0;
    margin-right:0;    
    border-right:3px solid map-get($grey,base);;
    li.vertical-tabs__menu-item {
     margin:0em 0 1.5em 0;
     padding:.5em 1em;
     &:focus {
      outline:none;
     }
      a {
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        @extend .grey-text, .waves-effect, .waves-teal;
        span {
          font-size:.75em;
          display:block;
          text-transform: initial;
        }
        &:hover {
          @extend .red-text, .lighten-2;
        }
      }
      &.is-selected {
        border-right: 3px solid map-get($red,lighten-2);
        margin-right:-3px;
        z-index: 2;
        @extend .grey, .lighten-4;
        a {
          @extend .red-text, .lighten-2;
        }
      }
    }
  }
  .vertical-tabs__panes {
    // add margin to go beyond border width 
    margin-left:-3px!important;
    padding-left:1em;
    border-left:3px solid map-get($grey,base);
    transition: max-height 0.66s ease-out;
    max-height:100vh;
    @extend .col, .m9;
    > details {
      border:none;
      box-shadow:none;
      > summary {
        @extend .red-text, .lighten-2;
        text-transform: uppercase;
      }
    }
  }
}
