/* @file
 * Specific styling for admin
 *
 */


a.modal-trigger {
  transition: color .3s ease;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
  color: color("shades", "black");
  ;
  &:hover {
    color: color("grey", "darken-2");
  }
}

.tabs {
  background: inherit;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}


.primary.tabs a.is-active, .primary.tabs a:focus, .primary.tabs a:hover {
  background-color: transparent!important;
}

table.highlight>tbody>tr:hover {
  @extend .grey, .lighten-3;
  color: color("shades", "black");
  ;
  a, button {
    cursor: pointer;
  }
}

table.highlight>tbody>tr.selected {
  @extend .grey, .lighten-4;
  a {
    text-decoration: none;
  }
  a.dropdown-button {
    @extend .grey-text, .text-darken-2;
    text-decoration: none;
  }
  .dropbutton-widget li {
    @extend .black-text;
    a {
      @extend .black-text;
      text-decoration: none;
    }
  }
  td {
    @extend .grey, .lighten-4;
  }
}

.pager__item {
  padding: 0;
}

.pagination li {
  height: auto;
}

td.is-active {
  background-color: transparent;
}

.collection-item {
  text-decoration: none;
  i.fa {
    padding-right: 10px;
  }
  &:hover {
    text-decoration: none;
  }
  &:hover .collection-item-description {
    text-decoration: none;
    color: color("grey", "darken-3");
  }
  .collection-item-description {
    text-decoration: none;
    color: color("grey", "darken-2");
    font-size: 12px;
    margin-left: 20px;
    &:hover {
      text-decoration: none;
      color: color("grey", "darken-3");
    }
  }
}

// in the case where we have to nest collections, remove border and margin
.collection.with-header>.collection {
  border: none;
  margin: 0;
}

table {
  .collection {
    margin: inherit;
    border: none;
    .collection-item {
      background: inherit;
    }
  }
}

table {
  margin: 20px 0;
  &.responsive-table {
    @media #{$medium-and-down} {
      th {
        width: 100%;
      }
    }
  }
}

//table dropdown
.dropbutton-wrapper.dropbutton-single {
  .edit {
    a {
      @extend .btn;
      @extend .btn-flat;
    }
  }
}

.dropbutton-wrapper {
  display: inline-block;
  .single-btn-wrapper {
    list-style: none;
  }
}

.dropbutton-widget {
  padding: 0 5px;
}

.dropdown-button {
  display: inline-block;
  &:hover {
    text-decoration: none;
    @extend .lighten-5;
  }
  &:after {
    @extend .material-icons;
    margin-left: 10px;
    content: 'keyboard_arrow_down';
    display: inline;
  }
  &.active:after {
    @extend .material-icons;
    margin-left: 10px;
    content: 'keyboard_arrow_up';
    display: inline;
  }
  &.ellipsis-icon:after {
    content: '';
    display: none;
  }
}

//dont show button styles in dropdowns
.dropdown-content {
  li {
    .button {
      display: block;
      background: none;
      color: inherit;
      box-shadow: none;
      padding: inherit;
    }
  }
}

.tabledrag-toggle-weight-wrapper {
  .tabledrag-toggle-weight {
    @extend .button-link;
  }
}

.compact-link {
  a {
    @extend .button-link;
  }
}

h2.theme-list-title {
  padding: 2rem;
  @extend .blue, .lighten-5;
}

span.theme-status-indicator {
  position: absolute;
  top: 0;
  right: 0;
  @extend .yellow;
  opacity: 0.7;
  padding: 5px 10px;
  z-index: 2;
}

.details-item {
  .collapsible-header {
    &:before {
      @extend .material-icons;
      content: 'keyboard_arrow_right';
      padding-right: 5px;
    }
    &.active {
      &:before {
        @extend .material-icons;
        content: 'keyboard_arrow_down';
      }
    }
  }
  .collapsible-body {
    padding: 15px;
  }
}

table {
  .region-title {
    @extend .blue, .lighten-5;
    @extend .grey-text;
    font-weight: normal;
  }
}

table td {
  font-weight: 200;
}

table thead th {
  @extend .grey-text, .darken-1;
  font-weight: normal;
  font-size: .9em;
  a {
    @extend .black-text;
  }
}

.tablesort {
  &.tablesort--asc {
    background-image: none;
    &:after {
      @extend .material-icons;
      content: 'keyboard_arrow_down';
      padding-left: 5px;
    }
  }
  &.tablesort--desc {
    background-image: none;
    &:after {
      @extend .material-icons;
      content: 'keyboard_arrow_up';
      padding-left: 5px;
    }
  }
}

tr.drag {
  @extend .yellow, .lighten-4;
  border-bottom: 1px dashed color("grey", "darken-2");
  border-top: 1px dashed color("grey", "darken-2");
}

table.highlight, table {
  tr.drag-previous, tr.drag-previous.field-plugin-settings-editing, tr.drag.field-plugin-settings-editing {
    @extend .yellow, .lighten-5;
    border-bottom: 2px dashed color("yellow", "lighten-4");
    border-top: 2px dashed color("yellow", "lighten-4");
    &:hover {
      @extend .yellow, .lighten-5;
    }
  }
}

//editing widget table styling 
tr.field-plugin-settings-editing {
  @extend .grey, .lighten-5;
  border-bottom: 2px dashed color("grey", "darken-2");
  border-top: 2px dashed color("grey", "darken-2");
}

.tabledrag-changed-warning {
  padding: 10px;
  font-size: 1em;
}

//nested collection styling
.collection .collection-item>.item-list {
  .collection {
    border: none;
    .collection-item {
      &:before {
        content: 'keyboard_arrow_right';
        @extend .material-icons;
        padding-right: 5px;
      }
      border: none;
    }
  }
}

//collection comma list
.collection.item-list__comma-list {
  border: none;
  .collection-item {
    line-height: 1em;
    border: none;
    padding: inherit;
  }
}

.sticky-node-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0.5rem 1.5rem;
  background: color("shades", "white");
  border-top: 1px solid color("grey", "lighten-1");
  z-index: 100;
}

//specific uninstall page styling
.admin-requirements.collapsible-body {
  padding: 1em;
  .admin-prevent-text {
    @extend .error-color;
    padding: .5em;
    margin-bottom: .5em;
    display: block;
    font-weight: bold;
  }
  .item-list li {
    padding: 10px 0;
  }
}

//theme page - force all card images to max height
#system-themes-page {
  .card {
    .card-content {
      .card-title {
        max-width: 90%;
        position: relative;
        i {
          top: 0;
          right: -10%;
          position: absolute;
        }
      }
    }
    .card-image {
      img {
        max-height: 300px;
        width: 100%;
        width: auto;
        margin: 0 auto;
      }
    }
  }
}

// status report page 
.system-status-report-counters {
  .card {
    .card-content {
      text-align: center;
      .card-title.report-counter-amount {
        text-align: center;
        padding: 15px;
        width: 2.5em;
        height: 2.5em;
        display: inline-block;
        border-radius: 50%;
      }
      .card-actions {
        padding-top: 1em;
      }
    }
  }
}

// user login / password 
.login-header {
  .block-page-title-block {
    h1 {
      font-weight: 200;
    }
  }
  .block-local-tasks-block {
    nav.tabs {
      li {
        a {
          color: color("grey", "base");
          &:hover {
            color: color("grey", "darken-1");
          }
          &.active {
            color: color("red", "lighten-1");
          }
        }
        &.indicator {
          background: color("red", "lighten-1");
        }
      }
    }
  }
}

#block-material-admin-sitebranding {
  a.site-logo {
    img {
      max-width: 125px;
    }
  }
}

body.material_login {
  background: color("grey", "lighten-4")
}

//region title action
.region-title__action {
  .button {
    @extend .btn-flat;
    &:after {
      @extend .material-icons;
      content: 'add';
    }
  }
}

//chips for lists
.item-list--comma-list {
  margin: 0.5em 0;
  .item-list__comma-list {
    li.chip {
      display: inline-block;
      font-weight: 200;
      &:after {
        content: "";
      }
      &:empty {
        visibility: hidden;
      }
    }
  }
}

table.highlight>tbody>tr:hover li.chip {
  background-color: color("grey", "lighten-5");
}
