/* @file
 * Specific styling for admin
 *
 */

//Header 
.layout-container {
  margin: 0;
  padding: 0;
}

header.header-wrapper {
  @extend .blue;
  h1 {
    @extend .white-text;
    font-weight: 300;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
    text-transform: capitalize;
    @media #{$small-and-down} {
      font-size: 1.5rem;
      margin: 2rem 0 2rem 0;
    }
  }
  .row.material-container {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

#block-material-admin-page-title h1.page-title {
  em {
    font-style: normal;
  }
  em:not(.placeholder) {
    &:after {
      content: " - ";
    }
  }
}

.utility-wrapper {
  @extend .blue,
  .lighten-2,
  .shadow;
}

.messages {
  padding: 10px;
  @extend .flow-text;
}

.system-status-general-info__item {
  .card .card-content .card-title {
    margin-bottom: 1em;
  }
}

.system-status-report__status-icon--checked {
  .collapsible-header {
    &:before {
      content: $fa-var-check;
      @extend .fa-standard,
      .status-text-color;
      padding-right: 1em;
    }
  }
}

.messages--status {
  @extend .status-color,
  .black-text;
  &.messages-clone {
    .card-content {
      @extend .status-color;
      .message-header .card-title {
        &:before {
          content: $fa-var-check;
          @extend .fa-standard;
        }
      }
    }
  }
}

.system-status-report__status-icon--warning {
  .collapsible-header {
    &:before {
      content: $fa-var-exclamation-triangle;
      @extend .fa-standard,
      .warning-text-color;
      padding-right: 1em;
    }
  }
  .collapsible-body {
    @extend .warning-text-color;
    .description {
      @extend .black-text;
    }
  }
}

.messages--warning,
.messages--status,
.messages--error {
  background-image: none !important;
  box-shadow: none !important;
}

.messages--warning {
  @extend .warning-color,
  .black-text;
  &.messages-clone {
    .card-content {
      @extend .warning-color;
      .message-header .card-title {
        &:before {
          content: $fa-var-exclamation-triangle;
          @extend .fa-standard;
        }
      }
    }
  }
}

.system-status-report__status-icon--error {
  .collapsible-header {
    &:before {
      content: $fa-var-times-circle-o;
      @extend .fa-standard,
      .error-text-color;
      padding-right: 1em;
    }
  }
  .collapsible-body {
    @extend .error-text-color;
    .description {
      @extend .black-text;
    }
  }
}

.messages--error {
  @extend .error-color,
  .black-text;
  &.messages-clone {
    .card-content {
      @extend .error-color;
      .message-header .card-title {
        &:before {
          content: $fa-var-times-circle-o;
          @extend .fa-standard;
        }
      }
    }
  }
}

.messages-clone {
  background: color("shades", "white")!important;
  .card-title {
    &:before,
    .message-number {
      padding-right: 10px;
    }
  }
  .card-content {
    .messages__list {
      margin-top: 0;
      padding-left: 30px;
      li.messages__item {
        margin-bottom: 10px;
        border-bottom: 1px solid color("grey", "darken-2");
        padding-bottom: 10px;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.message-trigger {
  .mt-text {
    margin-left: 5px;
    margin-right: 5px;
  }
  @extend .black-text;
  span.fa {
    //padding-left: 5px;
  }
  span.badge {
    @extend .black-text;
    min-width: inherit;
    margin-left: 5px;
    padding: 0 5px;
    display: none;
    border-radius: 50%;
    font-size: 0.9rem;
  }
}

a.modal-trigger {
  transition: color .3s ease;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
  color: color("shades", "black");
  ;
  &:hover {
    color: color("grey", "darken-2");
  }
}

.tabs {
  background: inherit;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

#notification-wrapper {
  //hide by default, if there is a badge, JS will enable
  display: none;
}

.modal-content .notification-title {
  border-bottom: 1px solid color("grey", "darken-2");
  padding-bottom: 10px;
  font-size: 1.7rem;
}

.region-header {
  display: block;
}

.primary.tabs a.is-active,
.primary.tabs a:focus,
.primary.tabs a:hover {
  background-color: transparent!important;
}

table.highlight>tbody>tr:hover {
  @extend .grey,
  .lighten-3;
  color: color("shades", "black");
  ;
  a,
  button {
    cursor: pointer;
  }
}

table.highlight>tbody>tr.selected {
  @extend .grey,
  .lighten-4;
  a {
    text-decoration: none;
  }
  a.dropdown-button {
    @extend .grey-text,
    .text-darken-2;
    text-decoration: none;
  }
  .dropbutton-widget li {
    @extend .black-text;
    a {
      @extend .black-text;
      text-decoration: none;
    }
  }
  td {
    @extend .grey,
    .lighten-4;
  }
}

.pager__item {
  padding: 0;
}

.pagination li {
  height: auto;
}

td.is-active {
  background-color: transparent;
}

.collection-item {
  text-decoration: none;
  i.fa {
    padding-right: 10px;
  }
  &:hover {
    text-decoration: none;
  }
  &:hover .collection-item-description {
    text-decoration: none;
    color: color("grey", "darken-3");
  }
  .collection-item-description {
    text-decoration: none;
    color: color("grey", "darken-2");
    font-size: 12px;
    margin-left: 20px;
    &:hover {
      text-decoration: none;
      color: color("grey", "darken-3");
    }
  }
}

// in the case where we have to nest collections, remove border and margin
.collection.with-header>.collection {
  border: none;
  margin: 0;
}

table {
  .collection {
    margin: inherit;
    border: none;
    .collection-item {
      background: inherit;
    }
  }
}

table {
  margin: 20px 0;
  &.responsive-table {
    @media #{$medium-and-down} {
      th {
        width: 100%;
      }
    }
  }
}

//table dropdown
.dropbutton-wrapper.dropbutton-single {
  .edit {
    a {
      @extend .btn;
      @extend .btn-flat;
    }
  }
}

.dropbutton-wrapper {
  display: inline-block;
  .single-btn-wrapper {
    list-style: none;
  }
}

.dropbutton-widget {
  padding: 0 5px;
}

.dropdown-button {
  display: inline-block;
  &:hover {
    text-decoration: none;
    @extend .lighten-5;
  }
  &:after {
    @extend .fa-standard;
    margin-left: 10px;
    content: $fa-var-caret-down;
    display: inline;
  }
  &.active:after {
    @extend .fa-standard;
    margin-left: 10px;
    content: $fa-var-caret-up;
    display: inline;
  }
  &.ellipsis-icon:after {
    content: '';
    display: none;
  }
}

//dont show button styles in dropdowns
.dropdown-content {
  li {
    .button {
      display: block;
      background: none;
      color: inherit;
      box-shadow: none;
      padding: inherit;
    }
  }
}

.tabledrag-toggle-weight-wrapper {
  .tabledrag-toggle-weight {
    @extend .button-link;
  }
}

.compact-link {
  a {
    @extend .button-link;
  }
}

h2.theme-list-title {
  padding: 2rem;
  @extend .blue,
  .lighten-5;
}

span.theme-status-indicator {
  position: absolute;
  top: 0;
  right: 0;
  @extend .yellow;
  opacity: 0.7;
  padding: 5px 10px;
  z-index: 2;
}

.details-item {
  .collapsible-header {
    &:before {
      @extend .fa-standard;
      content: $fa-var-chevron-right;
      padding-right: 5px;
    }
    &.active {
      &:before {
        @extend .fa-standard;
        content: $fa-var-chevron-down;
      }
    }
  }
  .collapsible-body {
    padding: 15px;
  }
}

table {
  .region-title {
    @extend .blue,
    .lighten-5;
    @extend .grey-text;
    font-weight: normal;
  }
}

table td {
  font-weight: 200;
}

table thead th {
  @extend .grey-text,
  .darken-1;
  font-weight: normal;
  font-size: .9em;
  a {
    @extend .black-text;
  }
}

.tablesort {
  &.tablesort--asc {
    background-image: none;
    &:after {
      @extend .fa-standard;
      content: $fa-var-arrow-down;
      padding-left: 5px;
    }
  }
  &.tablesort--desc {
    background-image: none;
    &:after {
      @extend .fa-standard;
      content: $fa-var-arrow-up;
      padding-left: 5px;
    }
  }
}

tr.drag {
  @extend .yellow,
  .lighten-4;
  border-bottom: 1px dashed color("grey", "darken-2");
  border-top: 1px dashed color("grey", "darken-2");
}

tr.drag-previous,
tr.drag-previous.field-plugin-settings-editing,
tr.drag.field-plugin-settings-editing {
  @extend .yellow,
  .lighten-5;
  border-bottom: 2px dashed color("yellow", "lighten-4");
  border-top: 2px dashed color("yellow", "lighten-4");
}

//editing widget table styling 
tr.field-plugin-settings-editing {
  @extend .grey,
  .lighten-5;
  border-bottom: 2px dashed color("grey", "darken-2");
  border-top: 2px dashed color("grey", "darken-2");
}

.tabledrag-changed-warning {
  padding: 10px;
}

//nested collection styling
.collection .collection-item>.item-list {
  .collection {
    border: none;
    .collection-item {
      &:before {
        content: $fa-var-chevron-right;
        @extend .fa-standard;
        padding-right: 5px;
      }
      border: none;
    }
  }
}

//collection comma list
.collection.item-list__comma-list {
  border: none;
  .collection-item {
    line-height: 1em;
    border: none;
    padding: inherit;
  }
}

.sticky-node-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0.5rem 1.5rem;
  background: color("shades", "white");
  border-top: 1px solid color("grey", "lighten-1");
  z-index: 100;
}

//specific uninstall page styling
.admin-requirements.collapsible-body {
  padding: 1em;
  .admin-prevent-text {
    @extend .error-color;
    padding: .5em;
    margin-bottom: .5em;
    display: block;
    font-weight: bold;
  }
  .item-list li {
    padding: 10px 0;
  }
}

//theme page - force all card images to max height
#system-themes-page {
  .card {
    .card-content {
      .card-title {
        max-width: 90%;
        position: relative;
        i {
          top: 0;
          right: -10%;
          position: absolute;
        }
      }
    }
    .card-image {
      img {
        max-height: 300px;
        width: 100%;
        width: auto;
        margin: 0 auto;
      }
    }
  }
}

// status report page 
.system-status-report-counters {
  .card {
    .card-content {
      text-align: center;
      .card-title.report-counter-amount {
        text-align: center;
        padding: 15px;
        width: 2.5em;
        height: 2.5em;
        display: inline-block;
        border-radius: 50%;
      }
      .card-actions {
        padding-top: 1em;
      }
    }
  }
}

// user login / password 
.login-header {
  .block-page-title-block {
    h1 {
      font-weight: 200;
    }
  }
  .block-local-tasks-block {
    nav.tabs {
      li {
        a {
          color: color("grey", "base");
          &:hover {
            color: color("grey", "darken-1");
          }
          &.active {
            color: color("red", "lighten-1");
          }
        }
        &.indicator {
          background: color("red", "lighten-1");
        }
      }
    }
  }
}

#block-material-admin-sitebranding {
  a.site-logo {
    img {
      max-width: 125px;
    }
  }
}

body.material_login {
  background: color("grey", "lighten-4")
}

//region title action
.region-title__action {
  .button {
    @extend .btn-flat;
    &:after {
      @extend .fa-standard;
      content: $fa-var-plus;
    }
  }
}

// Views exposed form and bulk filter styles.
// This block overrides normal .collapsible styles.
.exposed-form-collapsible {
  box-shadow: none;
  border: none;
  padding: 1rem;
  opacity: 1;
  transition: .2s;
  @media #{$small-and-down} {
    div.collapsible-header {
      margin-bottom: 0;
    }
  }
  .collapsible-header {
    border: none;
    padding: 0;
    margin-bottom: 2rem;
    flex-direction: row-reverse;
    justify-content: flex-start;
    vertical-align: middle;
    flex-wrap: wrap;
    a {
      margin-right: 5px;
    }
    i {
      margin-right: 0;
    }
  }
  .collapsible-body {
    border: none;
    font-weight: inherit;
    padding: 0;
    .form--inline {
      justify-content: flex-end;
    }
  }
  .exposed-form-chips {
    margin-right: .5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    .chip {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.view {
  position: relative;
  .views-bulk-form-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: color("teal", "lighten-4");
    opacity: 0;
    transition: .2s;
    border-bottom: 1px solid color("grey", "lighten-1");
    >.form-wrapper:first-child {
      display: none;
    }
    label[for="edit-action"] {
      display: none;
    }
    .dropbutton-wrapper {
      float: right;
    }
    .views-bulk-form-count {
      float: left;
      color: color("teal", "darken-1");
    }
  }
  &.has-selection {
    .views-bulk-form-header {
      opacity: 1;
    }
    .exposed-form-collapsible {
      opacity: 0;
    }
  }
}

#views-live-preview {
  .view {
    &.has-selection {
      .exposed-form-collapsible {
        opacity: 1;
      }
    }
    .views-bulk-form-header {
      position: relative;
      display: inline-block;
    }
  }
}

// Responsive Views styles.
@media #{$small-and-down} {
  .sticky-header {
    top: 0 !important;
  }
  .views-table.tablesaw-stack {
    thead .select-all.views-field {
      display: block;
      label {
        color: color("grey", "base");
      }
    }
    tbody {
      tr {
        position: relative;
      }
      td {
        .tablesaw-cell-label {
          font-weight: 200;
          color: color("grey", "base");
          &:after {
            content: ":";
            right: 0;
            color: color("grey", "base");
            font-weight: 400;
          }
        }
        padding: 20px 0 0 20px;
        &[class*="bulk-form"] {
          .tablesaw-cell-label {
            display: none;
          }
          .form-item {
            margin: 0;
          }
        }
        &.views-field-operations {
          .tablesaw-cell-label {
            display: none;
          }
          .tablesaw-cell-content {
            position: absolute;
            top: 10px;
            right: 0;
          }
        }
      }
    }
  }
}

.views-table .select-all.views-field label {
  color: transparent;
}

//chips for lists
.item-list--comma-list {
    margin:0.5em 0;
.item-list__comma-list {
  li.chip {
    display: inline-block;
    font-weight: 200;
    &:after {
      content: "";
    }
  }
}
}

table.highlight>tbody>tr:hover li.chip {
  background-color: color("grey", "lighten-5");
}