/* @file
 * Optional Libraries
 *
 */

// Make sure the charset is set appropriately
@charset 'utf-8';
//tablesaw 
@import "tablesaw/dist/stackonly/tablesaw.stackonly.scss";
//set table stack to trigger on my medium media query
.table-wrapper {
  @include tablesaw-stack( 50em);
  //tablesaw overrides
  .tablesaw-stack {
    td, th {
    	margin:20px 0;
    	padding:20px 0;
      .tablesaw-cell-label {
        margin-right: 1em;
      }
    }
  }
}
