/* @file
 * Apperance
 *
 */

//theme page - force all card images to max height
#system-themes-page {
  .card {
    .card-content {
      .card-title {
        position: relative;
        max-width: 90%;
        i {
          position: absolute;
          top: 0;
          right: -10%;
        }
      }
    }
    .card-image {
      height: auto;
      img {
        margin: 0 auto;
        width: 100%;
        height: auto;
      }
    }
    .card-action {
      .operations {
        margin: 0;
        li {
          padding: 10px 0;
        }
      }
    }
  }
}

span.theme-status-indicator {
  @extend .yellow;

  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.7;
  z-index: 2;
  padding: 5px 10px;
}
