/* @file
 * Node edit
 *
 */

.sticky-node-actions {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 0.5rem 1.5rem;
  background: color("shades", "white");
  border-top: 1px solid color("grey", "lighten-1");
  z-index: 100;
}
