/* @file
 * Node edit
 *
 */

.sticky-node-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-top: 1px solid color('grey', 'lighten-1');
  box-shadow: 0 0 2px 1px $transparent-black;
  background: color('shades', 'white');
  padding: 1rem;
  width: 100%;
}
