/* @file
 * Status Report page
 *
 */

// status report page 
.system-status-report-counters {
  .card {
    .card-content {
      text-align: center;
      .card-title.report-counter-amount {
        display: inline-block;
        border-radius: 50%;
        padding: 15px;
        width: 2.5em;
        height: 2.5em;
        text-align: center;
        color: $white;
      }
      .card-actions {
        padding-top: 1em;
      }
    }
  }
}


.system-status-general-info__item {
  .card .card-content .card-title {
    margin-bottom: 1em;
  }
}

.system-status-report__status-icon--checked {
  .collapsible-header {
    &::before {
      @extend .material-icons;

      padding-right: 1em;
      color: $status-text;
      content: 'check';
    }
  }
}

.system-status-report__status-icon--warning {
  .collapsible-header {
    &::before {
      @extend .material-icons;

      padding-right: 1em;
      color: $warning-text;
      content: 'warning';
    }
  }
  .collapsible-body {
    color: $warning-text;
    .description {
      color: $black;
    }
  }
}

.system-status-report__status-icon--error {
  .collapsible-header {
    &::before {
      @extend .material-icons;

      padding-right: 1em;
      color: $error-text;
      content: 'error';
    }
  }
  .collapsible-body {
    color: $error-text;
    .description {
      color: $black;
    }
  }
}

.cron-description__run-cron {
  margin: 0 10px;
  text-transform: uppercase;
}
