/* @file
 * User login
 *
 */

//specific uninstall page styling
.admin-requirements.collapsible-body {
  padding: 1em;
  .admin-prevent-text {
    @extend .error-color;

    display: block;
    margin-bottom: .5em;
    padding: .5em;
    font-weight: normal;
  }
  .item-list li {
    padding: 10px 0;
    font-weight: normal;
  }
}

.uninstall-checkbox label.visually-hidden {
  display: block;
}

.description > .module-description {
  margin: .5rem 0 1rem; // if there is no collapsible fieldset, still provide the same margins.
}
