/* @file
 * User login
 *
 */

//specific for table uninstall page 
.admin-requirements.collapsible-body {
  padding: 1em;
  .admin-prevent-text {
    @extend .error-color;
    padding: .5em;
    margin-bottom: .5em;
    display: block;
    font-weight: normal;
  }
  .item-list li {
    padding: 10px 0;
    font-weight: normal;
  }
}

.uninstall-checkbox label.visually-hidden {
  display: block;
}

// specific for card uninstall page
.card {
  .module-description {
    padding: 15px 0px;
  }
  .uninstall-list {
    font-size: 0.9em;
  }
  .required-list {
    display: block;
    padding: 5px;
    &:before {
      @extend .material-icons;
      content: 'link';
      padding-right: 5px;
    }
  }
}

.uninstall-submit-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 30px;
  border-top: 1px solid #ccc;
  background: color("grey", "lighten-4");
  width: 100%;
}

.module-uninstall-issues {
  padding-bottom: 20px;
  font-size: 0.85em;
  i {
    vertical-align: middle;
    padding-right: 5px;
    font-size: 1.25em;
  }
}
