/* @file
 * AcquiaDAM overrides
 *
 */

.acquiadam-browser-breadcrumb-container {
  padding: 10px 20px;
  i {
    input.acquiadam-browser-breadcrumb {
      color: color($utility, 'darken-2');
      padding: 0 1em;
      margin: 0;
    }
    &:after {
      @extend .material-icons;
      content: 'keyboard_arrow_right';
      vertical-align: top;
      line-height: inherit;
    }
    @extend .btn-flat;
    &:hover {
      background-color: transparent;
      input {
        color: color($secondary, 'lighten-1');
        text-decoration: none;
      }
    }
  }
}

.acquiadam-asset-browser {
  @extend .col;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin: 0 auto;
  .acquiadam-browser-folder-link {
    background-color: color('blue', 'darken-3');
    width: 214px;
    height: 185px;
    background-size: 150px;
    margin: 20px;
    position: relative;
    padding: 0;
    input,
    input:hover,
    input:focus,
    input:active {
      display: block;
      position: absolute;
      background-position-x: center;
      background-size: 100px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    p {
      position: absolute;
      pointer-events: none;
      bottom: 0;
      padding: .5rem;
      background: color('blue', 'base');
      width: 100%;
    }
  }
  .form-item.form-type-checkbox [type="checkbox"] + label,
  .acquiadam-browser-folder-link {
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: .2s;
    color: white;
    &:hover {
      transform: translateZ(0) scale(.98);
    }
  }
  .form-item.form-type-checkbox {
    margin:20px;
    padding: 0;
    width:auto;
    height:auto;
    border: 0;
    [type="checkbox"] + label {
      height:auto;
      line-height: auto;
      padding-left: 0;
      &:before,&:after {
        margin: 5px;
      }
      transition: .2s;
    }
    [type="checkbox"]:checked + label {
      transform: translateZ(0) scale(.98);
    }
    .acquiadam-asset-checkbox {
      margin-top:0;
    }
    p.acquiadam-asset-filename {
      margin: 0;
    }
    .acquiadam-asset-details {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: center;
      background: color('blue', 'base');
      color: white;
      padding: .5rem;
    }
    .acquiadam-asset-browser-icon {
      filter: invert(100%);
    }
  }
}

