/* @file
 * Entity Browser overrides
 *
 */

.entities-list {
  margin: 10px 0;
  .item-container {
    margin: 5px;
    background: color($utility, 'lighten-4');
    padding: 10px;
    &.rendered-entity {
      text-align: center;
    }
    &.ui-sortable-handle {
      &::before {
        @extend .material-icons;

        padding: 5px;
        content: 'drag_handle';
      }
    }
    .btn {
      @extend .btn-flat,
      .btn-flat-action;
    }
  }
}
