/* @file
 * Paragraphs overrides
 *
 */

.btn-paragraph-action {
  color: color($action, 'base');
  font-weight: 400;
  &:hover {
    color: color($action, 'lighten-3');
  }
}

.paragraphs-dropdown-action.button {
  font-weight: 300;
}

.js .paragraph-top .paragraph-type {
  display: inherit;
}
