/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  src: url('//fonts.gstatic.com/s/materialicons/v28/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2') format('woff2');
}

.material-icons {
  display: inline-block;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  white-space: nowrap;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;

  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
