{#
/**
 * @file
 * Notifcation drawer for status messages
  * Available variables:
 * - dblog_link: If dblog core module is enabled or not.
#}
<div id="messageContainer" class="modal bottom-sheet">
  <div class="modal-content">
    <h4 class="notification-title">{% trans %} Message Notifications {% endtrans %}</h4>
    <div class="allmessages">{{ page.status }}
    </div>
  </div>
  <div class="modal-footer">
    <a data-href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{% trans %} Close {% endtrans %}</a>
   {% if dblog_link %} <a href="{{ url('dblog.overview') }}" class="modal-action modal-close waves-effect btn-flat">{% trans %} View DB Log {% endtrans %}</a> {% endif %}
  </div>
</div>
