{#
/**
 * @file
 * Notifcation for status messages
#}
<div class="right" id="notification-wrapper">
  <a class="modal-trigger message-trigger waves-light waves-effect" href="#messageContainer"><i class="material-icons">notifications</i><span class="badge messages--status">0</span><span class="badge messages--warning">0</span><span class="badge messages--error">0</span></a>
</div>
