{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{%
  set classes = [
  'switch-label',
   attributes.disabled == 'disabled' ? 'tooltipped'
  ]
%}

{% set tooltip_text = create_attribute() %}
{% set tooltip_delay = create_attribute() %}

{% set switch_label = create_attribute().addClass(classes) %}

{% if attributes.disabled == 'disabled' %}
{% block switch_item %}
	{% set tooltip_text = 'sup' %}
	{% set tooltip_delay = '50' %}
	{% set switch_label = switch_label.setAttribute('data-delay', tooltip_delay).setAttribute('data-tooltip', tooltip_text) %}
{% endblock %}
{% endif %}

<div class="switch">
  <label{{ switch_label }}>
  	{% block switch_before_text %}On{% endblock %}
    <input{{ attributes }} />{{ children }}
    <span class="lever"></span> 
    {% block switch_after_text %}Off{% endblock %}
  </label>
</div>
