{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
<div class="switch">
  <label class="switch-label">
    <input{{ attributes }} />{{ children }}
    <span class="lever"></span> 
    Uninstall
  </label>
</div>
