  /* @file
 * Autocomplete UI
 *
 */

  .ui-autocomplete.ui-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: color("shades", "white");
    border:1px solid color("grey", "lighten-1");
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    .ui-menu-item {
      list-style-image: none;
      >a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: color("grey", "darken-2");
        white-space: nowrap;
        text-decoration: none;
      }
      &.ui-state-focus, &.ui-state-hover, &.ui-state-active {
        background: color("teal", "lighten-1");
        @extend .white-text;
        list-style-image: none;
        border-radius:0;
        text-decoration: none;
        a {
        	 @extend .white-text;
        }
      }
    }
  }
