/* @file
* Autocomplete UI
*
*/

.ui-autocomplete.ui-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  z-index: 1000;
  margin: 0 0 10px 25px;
  border: 1px solid color($utility, 'lighten-1');
  border-radius: 0;
  box-shadow: none;
  background-color: $white;
  padding: 4px 0;
  min-width: 160px;
  list-style: none;
  .ui-menu-item {
    list-style-image: none;
    >a.ui-corner-all {
      display: block;
      clear: both;
      padding: 3px 15px;
      text-decoration: none;
      line-height: 18px;
      white-space: nowrap;
      color: color($utility, 'darken-2');
      font-weight: normal;
    }
    &.ui-state-focus,
    &.ui-state-hover,
    &.ui-state-active {
      @extend .white-text;

      border-radius: 0;
      background: color($accent, 'lighten-1');
      text-decoration: none;

      list-style-image: none;
      a {
        color: $white;
      }
    }
  }
}
