/* @file
 * Form specific styling
 *
 */

.file-upload-btn.btn-floating {
  height: inherit;
  line-height: inherit;
  i {
    font-size: 1.3em;
  }
}

// overrride materializecss: label positoin relative to select elements
.select-wrapper+label {
  top: -20px;
}

//override materializecss: dont set form width, only max width and allow the form fields to use its length.
input:not([type]),
input[type='text']:not(.browser-default),
input[type='password']:not(.browser-default),
input[type='email']:not(.browser-default),
input[type='url']:not(.browser-default),
input[type='time']:not(.browser-default),
input[type='date']:not(.browser-default),
input[type='datetime']:not(.browser-default),
input[type='datetime-local']:not(.browser-default),
input[type='tel']:not(.browser-default),
input[type='number']:not(.browser-default),
input[type='search']:not(.browser-default) {
  width: inherit;
  max-width: 100%;
}

textarea.materialize-textarea {
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  padding: .8rem .5rem 1.6rem; // since we cant use borderbox or it breaks the 'autoresize', set max width to accomidate for the padding.
  width: inherit;
  max-width: 95%;
  &:focus {
    border: 1px solid color($accent, 'lighten-1');
  }
}

.form-radios {
  margin: 25px 0;
  .form-item.form-type-radio {
    margin: 10px 0;
  }
}

.select-wrapper {
  width: 100%;
  max-width: 450px;
  +label {
    transform: none;
    transition: none;
  }
  .caret {
    visibility: hidden;
    &::after {
      @extend .material-icons;

      right: 0;
      visibility: visible;
      font-size: 2.5em;
      content: 'arrow_drop_down';
    }
  }
  .input.select-dropdown {
    max-width: inherit;
  }
}

// if browser default for <select> elements, set defaults
.form-item.input-field-browser-default {
  margin: 25px 0 !important;
  max-width: 450px;
  >select.browser-default {
    padding: 0;
    font-size: inherit;
  }
  input {
    margin: 0;
    height: auto;

    box-sizing: border-box;
  }
  .description {
    padding-top: 5px;
  }
}

.views-field-node-bulk-form .form-type-checkbox {
  width: 35px;
}

.form-type-entity-autocomplete {
  label {
    padding-right: 1em;
  }
}

.form-item,
.filter-wrapper .form-item,
.form-item.password-parent,
.form-item.confirm-parent {
  position: relative;
  margin: 25px 0;
  overflow: visible;
  &.form-has-label:not(.form-type-checkbox):not(.form-type-radio):not(.has-prefix):not(.has-prefix-and-suffix) {
    margin: 45px 0 25px;
  }
  .form-required {
    &::after {
      color: $error-color;
      content: ' *';
    }
  }
}

.filter-wrapper {
  overflow: initial;
}

//module extend page styling
.requirements .admin-requirements {
  padding: .5em 0;
}

.package-listing .details-description .links {
  @extend .card-action;

  position: relative;
  border-top: 1px solid color($utility, 'lighten-3');
  background-color: inherit;
  padding: 16px 24px;
}

.details-wrapper table thead {
  border: 0;
}

//form items in tables require less margin (but only the tope level item)
table td>.form-item,
table td>.ajax-new-content>.form-item,
table td .fieldset-wrapper>.form-item {
  margin: 0;
  &~.form-wrapper {
    margin: 25px 0;
  }
}

table td .form-item .select-wrapper input.select-dropdown {
  margin: 0;
}

.input-field.js-form-type-checkbox label {
  top: 0;
}

input[type='checkbox'] {
  @extend .filled-in;
}

[type='checkbox'].filled-in:checked+label::before,
input[type='checkbox'][type='checkbox']:checked+label::before {
  top: 1px;
}

#edit-actions {
  .button--danger {
    @extend .btn-flat;

    color: $error-text;
  }
  .button.use-ajax {
    @extend .btn;
  }
}

input.btn {
  margin: 5px;
  @media #{$medium-and-down} {
    margin-bottom: 1em;
  }
}

abbr.warning {
  text-decoration: none;
  color: $warning-text;
}

.switch {
  label {
    white-space: nowrap;
  }
}

//switch labels are overridden, so it tries to add it in via JS, this prevents 2 labels.
.switch label:not(.switch-label) {
  display: inline-block;
  position: relative !important;
  visibility: hidden;
  padding: 0;
  width: 1px;
  vertical-align: middle;

  clip: inherit;
}

.switch input[type='checkbox'][disabled]+.lever {
  background: color($utility, 'darken-2');
  cursor: not-allowed;
}

// align multiple checkboxes with label
.input-field .dropdown-content [type='checkbox']+label {
  display: inline;
  top: 0;
}

abbr[title] {
  border-bottom: 0;
}

//input form field handling 
input:not([type]),
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='time'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='tel'],
input[type='number'],
input[type='search'] {
  width: inherit;
  max-width: 100%;
}

//checkbox fix to work with materialize
.js-form-type-checkbox {
  label.visually-hidden {
    display: inline-block;
    position: relative !important;
    visibility: hidden;
    width: 1px;
    vertical-align: middle;

    clip: inherit;
    &::before,
    &::after {
      visibility: visible;
    }
  }
}

h4.label {
  font-size: 1rem;
  font-weight: bold;
}

//instead of replacing the collapsible with materialize which can cause issues with drupal AJAX, style the default details
details.form-wrapper {
  @extend .collapsible;

  position: relative;
  text-align: left;
  summary::-webkit-details-marker {
    display: none;
  }
  &[open]>summary::after {
    @extend .material-icons,
    .collapse-down;

    line-height: 1em;
  }
  summary::after {
    @extend .material-icons,
    .collapse-right;

    line-height: 1em;
  }
  summary {
    @extend .collapsible-header;

    display: block;
    &:focus {
      outline: 0;
    }
  }
  .details-wrapper {
    background: $white;
    padding: 1rem 2rem; //prevent nested wrappers from providing too much z-depth
    details.form-wrapper {
      border: 1px solid color($utility, 'lighten-2') !important;
      box-shadow: none;
    }
    .details-description {
      padding: 10px 0;
    }
  }
}

.entity-meta__header {
  @extend .shadow-box,
  .z-depth-1;
}

.entity-meta__last-saved h4,
.entity-meta__author h4,
.field--name-created h4 {
  font-size: 1rem;
  font-weight: bold;
  &::before {
    @extend .material-icons;

    padding-right: 10px;
    vertical-align: baseline;
  }
}

.entity-meta__last-saved h4 {
  &::before {
    content: 'date_range';
  }
}

.form-type-date input.form-date {
  min-width: 175px;
}

.container-inline .form-item:not(.form-type-select) {
  display: inline-block;
  padding-right: 10px;
  min-width: 200px;
}

.container-inline label:empty::after,
.container-inline .label:empty::after {
  content: '';
}

.form--inline,
.dblog-filter-form {
  .form-actions {
    padding: 0 10px;
  }
}

.entity-meta__author h4 {
  &::before {
    content: 'person';
  }
}

a#edit-cancel {
  @extend .btn-flat;

  color: $warning-text;
}

.node-multiple-delete-confirm input.form-submit {
  @extend .error-color;
}

.confirm-form-wrapper {
  @extend .z-depth-1;

  padding: 1em;
  .form-actions {
    margin-top: 1em;
  }
}

//machine name display/edit
.field-suffix {
  small {
    padding: 0 10px;
    span.machine-name-value {
      font-weight: bold;
    }
    span.admin-link {
      @extend .btn-flat;

      margin: 0 10px;
    }
  }
}

// field-prefix for inline values
.input-field {
  label.inline-label {
    position: relative;
    padding-right: 10px;
  }
  .field-prefix {
    padding-right: 15px;
  }
  .search-wrapper {
    margin: 0 12px;
    i.material-icons {
      display: inline-block;
      padding-right: 10px;
      vertical-align: middle;
      font-size: 1.25em;
    } //align description with the textfield rather than the icon
    ~.description {
      margin-left: 40px;
    }
    input[type='search'] {
      display: inline-block;
      padding-left: 0;
      &:focus {
        border-bottom: 1px solid color($accent, 'lighten-1');
      }
    }
  }
}


.has-prefix-and-suffix,
.has-prefix,
.has-suffix {
  >* {
    display: inline;
    width: inherit;
    vertical-align: middle;
  }
}

.dblog-filter-form .form-item-type,
.dblog-filter-form .form-item-severity {
  min-width: 300px;
}

.entity-moderation-wrapper {
  padding-top: 10px;
}

.input-field.has-initial-content .select-wrapper+label {
  transform: none;
  transition: none;
}

.input-field.has-initial-content label {
  transform: translateY(-14px) scale(0.8);

  transform-origin: 0 0;
}

.input-field.has-placeholder label {
  transform: none;
}

.input-field.file-field {
  input {
    max-width: 100%;
  }
  &.form-has-label {
    margin: 45px 0;
    padding: 45px 0 0;
    >label {
      position: absolute;
      font-size: 0.8rem;
    }
  }
}

//special case colleciton with links and no links to allow for large click area
.help-collection .collection {
  .collection-item.has-collection-link {
    padding: 0;
    a {
      display: block;
      padding: 10px 20px;
      width: 100%;
      color: color($accent, 'lighten-1');
      &:hover {
        background: color($utility, 'lighten-2');
        text-decoration: none;
      }
    }
  }
}

// 'waves' input button padding fix
i.waves-input-wrapper {
  padding: 0 !important;
  .waves-button-input {
    padding: 0 2em;
    height: 100%;
  }
}

.form-item-selected {
  .views-ui-view-title {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 400;
  }
  .views-selected-options {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
  }
}

//tablesaw fixes for form elements 
.tablesaw-cell-content .form-item {
  margin: 0;
}

.views-bulk-form-count {
  p {
    margin: 0;
    line-height: 40px;
  }
}

.layout-node-form .layout-region-node-secondary {
  details.form-wrapper {
    margin: 0;
    .details-wrapper {
      padding: 0.5rem 2rem;
    }
  }
  .entity-meta__header {
    margin-bottom: 1em;
    background: $white;
  }
  .form-actions {
    margin-top: 1em;
  }
}

.image-style-new {
  display: inline-block;
  div {
    display: inline-block;
    margin: 0;
    min-width: 200px;
  }
  i.waves-input-wrapper.input-form-submit {
    margin: 0 1em !important;
  }
}

fieldset.form-wrapper {
  margin-left: 0;
  padding: 10px;
  legend {
    margin: 0 5px 5px 0;
    span.fieldset-legend {
      @extend .z-depth-1;

      background: color($primary, 'base');
      padding: 5px 10px;
      text-transform: uppercase;
      letter-spacing: .5px;
      color: $white;
      font-size: 16px;
      &:empty {
        display: none;
        padding: 5px 10px;
      }
    }
  }
}

// For fieldgroups dont use teh fieldset border or z-depth to reduce clutter.
fieldset.fieldgroup.form-wrapper {
  padding-left: 0;
  legend {
    margin: 15px 0 0;
    font-weight: 500;
    span.fieldset-legend {
      @extend .z-depth-0;

      background: transparent;
      padding-left: 0;
      color: color($primary, 'base');
    }
  }
  .fieldset-wrapper {
    .form-radios {
      margin-top: 10px;
    }
  }
}

.image-widget-data {
  position: relative;
}

.file-field input[type='file'] {
  width: auto;
}

.has-description-after:not(.input-field-browser-default) {
  input {
    margin-bottom: 10px !important;
  }
  div.description {
    margin-bottom: 30px;
  }
}

.form--inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: baseline;
  >div:not(.form--inline) {
    flex: 1 auto;
    flex-basis: auto;
    min-width: 200px;
    max-width: 450px;
    &.form-item-separator {
      flex: 0;
      padding: 0 30px;
      min-width: auto;
      font-weight: 700;
    }
    .select-wrapper {
      max-width: 100%; // if inside flex grid, dont set a max width - its set on the parent.
    }
  }
  div.form--inline {
    flex-wrap: no-wrap;
  }
}

// This block overrides normal .collapsible styles.
.exposed-form-collapsible {
  transition: .2s;
  opacity: 1;
  border: 0;
  box-shadow: none;
  padding: 1rem;
  @media #{$small-and-down} {
    div.collapsible-header {
      margin-bottom: 0;
    }
  }
  .collapsible-header {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
    border: 0;
    background: $body-background;
    padding: 0;
    vertical-align: middle;
    a {
      margin-right: 5px;
    }
    i {
      margin-right: 0;
    }
  }
  .collapsible-body {
    border: 0;
    background: color($utility, 'lighten-4');
    padding: 45px 10px 10px;
    font-weight: inherit; //account for labels being absolute positioned with padding-top
    .form--inline {
      .form-actions {
        padding-top: 15px;
      }
    }
    @media #{$medium-and-up} {
      // styles for medium screens and larger
      .form--inline {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        div {
          flex: 1;
          margin: 0 10px !important;
          width: 100%;
          min-width: 15em;
        }
      }
    }
  }
  .exposed-form-chips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: .5rem;
    text-transform: capitalize;
    .chip {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

// textarea override format wrapper 
.text-format-wrapper {
  .form-item.form-type-select.form-has-label {
    display: inline-block;
    margin-top: 10px !important;
    min-width: 300px;
  }
  .filter-help {
    display: inline-block;
    float: right;
    padding-right: 10px;
  }
}
