/* @file
 * Form specific styling
 *
 */

@media #{$medium-and-up} {
  // styles for medium screens and larger
  .form--inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    .input-field {
      margin: 10px 10px!important;
      flex: 0 1 20%;
    }
  }
}

.file-upload-btn.btn-floating {
  height: inherit;
  line-height: inherit;
  i {
    font-size: 1.3em;
  }
}

//override materializecss: dont set form width, only max width and allow the form fields to use its length.
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default) {
  max-width: 100%;
  width: inherit;
}

textarea.materialize-textarea {
  padding: .8rem .5rem 1.6rem .5rem; // since we cant use borderbox or it breaks the 'autoresize', set max width to accomidate for the padding.
  max-width: 95%;
  width: inherit;
  &:focus {
    border: 1px solid color($accent, "lighten-1");
  }
}

.form--inline .input-field {
  display: block;
  width: 100%;
}

.form-radios {
  margin: 25px 0;
  .form-item.form-type-radio {
    margin: 10px 0;
  }
}

.select-wrapper {
  max-width: 450px;
  width: 100%;
  + label {
    transition:none;
    transform: none;
  }
  .caret {
    visibility: hidden;
    &:after {
      @extend .material-icons;
      content: 'arrow_drop_down';
      visibility: visible;
      font-size: 2.5em;
      right: 0;
    }
  }
  .input.select-dropdown {
    max-width: inherit;
  }
}

.views-field-node-bulk-form .form-type-checkbox{
  width:35px;
}

.form-type-entity-autocomplete {
  label {
    padding-right: 1em;
  }
}

.form-item, .filter-wrapper .form-item, .form-item.password-parent, .form-item.confirm-parent {
  margin: 25px 0;
  &.form-has-label:not(.form-type-checkbox):not(.form-type-radio):not(.has-prefix):not(.has-prefix-and-suffix) {
    margin: 45px 0px 25px 0px;
  }
  position: relative;
  overflow: visible;
  .form-required {
    &:after {
      content: " *";
      color:$error-color;
    }
  }
}

.filter-wrapper {
  overflow: initial;
}

//module extend page styling
.requirements .admin-requirements {
  padding: .5em 0;
}

.package-listing .details-description .links {
  @extend .card-action;
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px 24px;
}

.details-wrapper table thead {
  border: none;
}

//form items in tables require less margin (but only the tope level item)
table td>.form-item, table td>.ajax-new-content>.form-item, table td .fieldset-wrapper>.form-item {
  margin: 0;
  &~.form-wrapper {
    margin: 25px 0;
  }
}

table td .form-item .select-wrapper input.select-dropdown {
  margin: 0;
}

.input-field.js-form-type-checkbox label {
  top: 0;
}

input[type=checkbox] {
  @extend .filled-in;
}

#edit-actions {
  .button {}
  .button--danger {
    @extend .btn-flat;
    color:$error-text;
  }
}

input.btn {
  margin: 5px;
  @media #{$medium-and-down} {
    margin-bottom: 1em;
  }
}

abbr.warning {
 color:$warning-text;
  text-decoration: none;
}

.switch label {
  white-space: nowrap;
}


//switch labels are overridden, so it tries to add it in via JS, this prevents 2 labels.
.switch label:not(.switch-label) {
    position: relative !important;
    clip: inherit;
    visibility: hidden;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
    padding:0;
}

.input-field.js-form-type-checkbox label {
  top: 0;
}

// align multiple checkboxes with label
.input-field .dropdown-content [type="checkbox"]+label {
  top: 0;
  display: inline;
}

abbr[title] {
  border-bottom: none;
}

//input form field handling 
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search] {
  width: inherit;
  max-width: 100%;
}

//checkbox fix to work with materialize
.js-form-type-checkbox {
  label.visually-hidden {
    position: relative!important;
    clip: inherit;
    visibility: hidden;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
    &:before, &:after {
      visibility: visible;
    }
  }
}

h4.label {
  font-size: 1rem;
  font-weight: bold;
}

//instead of replacing the collapsible with materialize which can cause issues with drupal AJAX, style the default details
details.form-wrapper {
  @extend .collapsible;
  text-align: left;
  summary {
    @extend .collapsible-header;
    &:focus {
      outline: 0;
    }
  }
  .details-wrapper {
    padding: 1rem 2rem; //prevent nested wrappers from providing too much z-depth
    details.form-wrapper {
      box-shadow: none;
      border: 1px solid color($utility, "lighten-2")!important;
    }
    .details-description {
      padding:10px 0;
    }
  }
}

details.form-wrapper {
  position: relative;
  summary::-webkit-details-marker {
    display: none;
  }
  summary {
    display: block;
  }
  &[open]>summary:after {
    @extend .material-icons, .collapse-down;
    line-height: 1em;
  }
  summary:after {
    @extend .material-icons, .collapse-right;
    line-height: 1em;
  }
}

.entity-meta__header {
  @extend .shadow-box, .z-depth-1;
}

.entity-meta__last-saved h4, .entity-meta__author h4, .field--name-created h4 {
  font-size: 1rem;
  font-weight: bold;
  &:before {
    padding-right: 10px;
    @extend .material-icons;
    vertical-align: baseline;
  }
}

.entity-meta__last-saved h4 {
  &:before {
    content: 'date_range';
  }
}

.form-type-date input.form-date {
  min-width: 175px;
}

.container-inline .form-item {
  padding-right: 10px;
  display: inline;
}

.container-inline label:empty:after, .container-inline .label:empty:after {
  content: "";
}

.form--inline, .dblog-filter-form {
  .form-actions {
    padding: 0 10px;
  }
}

.entity-meta__author h4 {
  &:before {
    content: 'person';
  }
}

a#edit-cancel {
  @extend .btn-flat;
  color: $warning-text;
}

.node-multiple-delete-confirm input.form-submit {
  @extend .error-color;
}

.confirm-form-wrapper {
  @extend .z-depth-1;
  padding: 1em;
  .form-actions {
    margin-top: 1em;
  }
}

//machine name display/edit
.field-suffix {
  small {
    padding: 0 10px;
    span.machine-name-value {
      font-weight: bold;
    }
    span.admin-link {
      margin: 0 10px;
      @extend .btn-flat
    }
  }
}

// field-prefix for inline values
.input-field {
  label.inline-label {
    position: relative;
    padding-right: 10px;
  }
  .field-prefix {
    padding-right: 15px;
  }
}

.has-prefix-and-suffix, .has-prefix, .has-suffix {
  >* {
    display:inline;
    width:inherit;
    vertical-align: middle;
  }
}

.dblog-filter-form .form-item-type, .dblog-filter-form .form-item-severity {
  min-width: 300px;
}

.entity-moderation-wrapper {
  padding-top: 10px;
}

.input-field.has-initial-content .select-wrapper+label {
  transform:none;
  transition:none;
}

.input-field.has-initial-content label {
  transform: translateY(-14px) scale(0.8);
  transform-origin: 0 0;
}

.input-field.has-placeholder label {
  transform: none;
}

.input-field.file-field {
  input {
    max-width: 100%;
  }
  &.form-has-label {
    margin: 45px 0;
    padding: 45px 0 0 0;
    >label {
      position: absolute;
      font-size: 0.8rem;
    }
  }
}

.input-field {
  .search-wrapper {
    i.material-icons {
      display: inline-block;
      padding-right: 10px;
      font-size: 1.25em;
      vertical-align: middle;
    }
    //align description with the textfield rather than the icon
    ~ .description {
      margin-left:40px;
    }
    margin: 0 12px;
    input[type=search] {
      padding-left: 0;
      display: inline-block;
      &:focus {
        border-bottom: 1px solid color($accent, "lighten-1");
      }
    }
  }
}

//special case colleciton with links and no links to allow for large click area
.help-collection .collection {
  .collection-item.has-collection-link {
    padding: 0;
    a {
      padding: 10px 20px;
      display: block;
      width: 100%;
      color: color($accent, "lighten-1");
      &:hover {
        background: color($utility, "lighten-2");
        text-decoration: none;
      }
    }
  }
}

// 'waves' input button padding fix
i.waves-input-wrapper {
  padding: 0!important;
  .waves-button-input {
    padding: 0 2em;
    height: 100%;
  }
}

.form-item-selected {
  .views-ui-view-title {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 400;
  }
  .views-selected-options {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
    transition: all 2s ease-in;
  }
}

//tablesaw fixes for form elements 
.tablesaw-cell-content .form-item {
  margin: 0;
}

.views-bulk-form-count {
  p {
    margin: 0;
    line-height: 40px;
  }
}

.layout-node-form .layout-region-node-secondary {
  details.form-wrapper {
    margin: 0;
    .details-wrapper {
      padding: 0.5rem 2rem;
    }
  }
  .entity-meta__header {
    margin-bottom: 1em;
  }
  .form-actions {
    margin-top: 1em;
  }
}

.image-style-new {
  display: inline-block;
  div {
    min-width: 200px;
    display: inline-block;
    margin: 0;
  }
  i.waves-input-wrapper.input-form-submit {
    margin: 0 1em!important;
  }
}

fieldset.form-wrapper {
  margin-left: 0px;
  padding: 10px;
  legend {
    margin: 0 5px 5px 0;
    span.fieldset-legend {
      @extend .z-depth-1;
      background: color($primary, "base");
      color:$white;
      font-size: 16px;
      padding: 5px 10px;
      text-transform: uppercase;
      letter-spacing: .5px;
      &:empty {
        display: none;
        padding: 5px 10px;
      }
    }
  }
}

// For fieldgroups dont use teh fieldset border or z-depth to reduce clutter.
fieldset.fieldgroup.form-wrapper {
  padding-left:0;
  legend {
    font-weight:500;
    margin:15px 0 0 0;
    span.fieldset-legend {
      @extend .z-depth-0;
      background: transparent;
      color: color($primary, "base");
      padding-left:0;
    }
  }
  .fieldset-wrapper {
    .form-radios {
      margin-top:10px;
    }
  }
}

.image-widget-data {
  position: relative;
}

.file-field input[type=file] {
  width: auto;
}

.has-description-after {
  input {
    margin-bottom: 10px!important;
  }
  div.description {
    margin-bottom: 30px;
  }
}

// This block overrides normal .collapsible styles.
.exposed-form-collapsible {
  box-shadow: none;
  border: none;
  padding: 1rem;
  opacity: 1;
  transition: .2s;
  @media #{$small-and-down} {
    div.collapsible-header {
      margin-bottom: 0;
    }
  }
  .collapsible-header {
    border: none;
    padding: 0;
    margin-bottom: 1rem;
    flex-direction: row-reverse;
    justify-content: flex-start;
    vertical-align: middle;
    flex-wrap: wrap;
    a {
      margin-right: 5px;
    }
    i {
      margin-right: 0;
    }
  }
  .collapsible-body {
    background: color($utility, "lighten-4");
    border: none;
    font-weight: inherit;
    //account for labels being absolute positioned with padding-top
    padding: 45px 10px 10px 10px;
    .form--inline {
      justify-content: flex-end;
      .form-actions {
        padding-top:15px;
      }
    }
  }
  .exposed-form-chips {
    margin-right: .5rem;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    .chip {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
