/* @file
 * lists
 *
 */

dl {
  margin: 1em 0;
  dd {
    margin-bottom: 1em;
    margin-left: 0;
    padding-left: 0;
    color: color($utility, 'base');
    font-size: 0.9em;
  }
}

// task list - used on core maintenance pages
ol.task-list {
  margin: 0;
  padding: 0 20px;
  li {
    margin: 10px 5px;
    padding: 5px;
    &.is-active {
      border-bottom: 1px solid $primary-base;
      color: $primary-base;
      &::after {
        @extend .material-icons;

        vertical-align: middle;
        font-size: 1.5em;
        content: 'arrow_right';
      }
    }
  }
}
