/* @file
 * Messages
 *
 */

.messages {
  padding: 10px;
}

#notification-wrapper {
  //hide by default, if there is a badge, JS will enable
  display: none;
}

// Trigger notifications button
a.modal-trigger {
  transition: color .3s ease;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
  color: $black
  ;
  &:hover {
    color: color($utility, "darken-2");
  }
}

.description.modal-trigger {
  text-transform: none;
  font-size: .8em;
  padding: 0;
  margin: 10px 5px;
  display: block;
  color: color($primary, "darken-1")
}

.modal-content .notification-title {
  border-bottom: 1px solid color($utility, "darken-2");
  padding-bottom: 10px;
  font-size: 1.7rem;
}

.system-status-general-info__item {
  .card .card-content .card-title {
    margin-bottom: 1em;
  }
}

.system-status-report__status-icon--checked {
  .collapsible-header {
    &:before {
      content: 'check';
      @extend .material-icons, .status-text-color;
      padding-right: 1em;
    }
  }
}

.messages--status {
  @extend .status-color, .black-text;
  &.messages-clone {
    .card-content {
      @extend .status-color;
      .message-header .card-title {
        &:before {
          content: 'check';
          @extend .material-icons;
        }
      }
    }
  }
}

.system-status-report__status-icon--warning {
  .collapsible-header {
    &:before {
      content: 'warning';
      @extend .material-icons, .warning-text-color;
      padding-right: 1em;
    }
  }
  .collapsible-body {
    @extend .warning-text-color;
    .description {
      @extend .black-text;
    }
  }
}

.messages--warning, .messages--status, .messages--error {
  background-image: none !important;
  box-shadow: none !important;
}

.messages--warning {
  @extend .warning-color, .black-text;
  &.messages-clone {
    .card-content {
      @extend .warning-color;
      .message-header .card-title {
        &:before {
          content: 'warning';
          @extend .material-icons;
        }
      }
    }
  }
}

.system-status-report__status-icon--error {
  .collapsible-header {
    &:before {
      content: 'error';
      @extend .material-icons;
      color: $error-text;
      padding-right: 1em;
    }
  }
  .collapsible-body {
   color: $error-text;
    .description {
      color:$black;
    }
  }
}

.messages--error {
  @extend .error-color, .black-text;
  &.messages-clone {
    .card-content {
      @extend .error-color;
      .message-header .card-title {
        &:before {
          content: 'error';
          @extend .material-icons;
        }
      }
    }
  }
}

.messages-clone {
  background: $body-background!important;
  .card-title {
    &:before, .message-number {
      padding-right: 10px;
    }
  }
  .card-content {
    .messages__list {
      margin-top: 0;
      padding-left: 30px;
      li.messages__item {
        margin-bottom: 10px;
        border-bottom: 1px solid color($utility, "darken-2");
        padding-bottom: 10px;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

.message-trigger {
  .mt-text {
    margin-left: 5px;
    margin-right: 5px;
  }
  color:$black;
  span.fa {
    //padding-left: 5px;
  }
  i,span {
    vertical-align: middle;
  }
  span.badge {
    color:$black;
    min-width: 25px;
    min-height: 25px;
    line-height: 25px;
    margin-left: 5px;
    padding: 0 5px;
    display: none;
    border-radius: 50%;
    font-size: 0.8rem;
  }
}

.message-action {
  font-size: .8rem;
  font-weight: 500;
  margin-right: 0;
  margin-left: 3rem;
}
