/* @file
 * Messages
 *
 */

.messages {
  padding: 10px;
}

.message-trigger {
  color: $black;
  .mt-text {
    margin-left: 5px;
    margin-right: 5px;
    color: $black;
  }
  i,
  span {
    vertical-align: middle;
    color: $black;
  }
  span.badge {
    color: $white;
    min-width: 25px;
    min-height: 25px;
    line-height: 25px;
    margin-left: 5px;
    padding: 0 5px;
    display: none;
    border-radius: 50%;
    font-size: 0.8rem;
  }
}

.message-action {
  font-size: .8rem;
  font-weight: 500;
  margin-right: 0;
  margin-left: 3rem;
}

.messages--warning,
.messages--status,
.messages--error, {
  background-image: none !important;
  box-shadow: none !important;
  &.messages-clone .card {
    @extend .z-depth-0;
  }
  &.toast {
    color: $white;
  }
}

#notification-wrapper {
  //hide by default, if there is a badge, JS will enable
  display: none;
}

// Trigger notifications button
a.modal-trigger {
  transition: color .3s ease;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
  color: $black;
  &:hover {
    color: color($utility, "darken-2");
  }
}

.description.modal-trigger {
  text-transform: none;
  font-size: .8em;
  padding: 0;
  margin: 10px 5px;
  display: block;
  color: color($primary, "darken-1")
}

.modal-content .notification-title {
  border-bottom: 1px solid color($utility, "darken-2");
  padding-bottom: 10px;
  font-size: 1.7rem;
}

.messages--status, .messages--status.messages {
  background-color: $status-bg!important;
  color:$white;
  &.messages-clone {
    .card-content {
      border: 2px solid $status-bg!important;
      color: $black;
      .message-header .card-title {
        &:before {
          content: 'check';
          color: $status-bg;
          @extend .material-icons;
        }
      }
    }
  }
}

.messages--warning, .messages--warning.messages {
  background-color: $warning-bg!important;
  color:$white;
  &.messages-clone {
    .card-content {
      border: 2px solid $warning-bg!important;
      color: $black;
      .message-header .card-title {
        &:before {
          content: 'warning';
          color: $warning-bg;
          @extend .material-icons;
        }
      }
    }
  }
}

.messages--error, .messages--error.messages {
  background: $error-bg!important;
  color: $white;
  &.messages-clone {
    .card-content {
      border: 2px solid $error-bg!important;
      color: $black;
      .message-header .card-title {
        &:before {
          content: 'error';
          color: $error-bg;
          @extend .material-icons;
        }
      }
    }
  }
}

.messages-clone {
  background: $body-background!important;
  .card-title {
    &:before,
    .message-number {
      padding-right: 10px;
    }
  }
  .card-content {
    .messages__list {
      margin-top: 0;
      padding-left: 30px;
      li.messages__item {
        margin-bottom: 10px;
        border-bottom: 1px solid color($utility, "darken-2");
        padding-bottom: 10px;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}