/* @file
 * Progress Bar
 *
 */

.progress {
  background-color: transparent;
  height: 10px;
  overflow: inherit;
  .progress__track {
    border-radius: 0;
    border-color: color($accent, 'accent-1');
    box-shadow: none;
    background-color: color($accent, 'accent-1');
    background-image: none;
    height: 10px;
    .progress__bar {
      @extend .determinate;

      position: relative;
      margin: 0;
      border: 0;
      border-radius: 0;
      background: none;
      background-color: color($accent, 'lighten-1');
      height: 10px;
    }
  }
}
