/* @file
 * Tables
 *
 */


td,
th {
  padding: 15px;
}

th.select-all {
  label {
    display:inline;
  }
}

table.highlight>tbody>tr {
  &:hover {
    background: color($utility, "lighten-3");
    color: $black
    a, button {
      cursor: pointer;
    }
  }
  // dont change background on hover for titles
  &.region-title {
    &:hover {
    background: color($primary, "lighten-5")!important;
  }
  }
}

td.is-active {
  background-color: transparent;
}

table {
  .collection {
    margin: inherit;
    border: none;
    .collection-item {
      background: inherit;
    }
  }
}

table {
  margin: 20px 0;
  &.responsive-table {
    @media #{$medium-and-down} {
      th {
        width: 100%;
      }
    }
  }
}

table {
  .region-title {
    background:color($primary, "lighten-5");
    color: color($utility, "base");
    .button.button--small {
      font-size:0.85em;
    }
    td {
      font-weight:normal;
      font-size:0.9em;
    }
  }
}

table td {
  font-weight: 200;
}

table thead th {
  color: color($utility, "darken-1");
  font-weight: normal;
  font-size: .9em;
  a {
    color:$black;
  }
}

.tablesort {
  &.tablesort--asc {
    background-image: none;
    &:after {
      @extend .material-icons;
      content: 'keyboard_arrow_down';
      padding-left: 5px;
    }
  }
  &.tablesort--desc {
    background-image: none;
    &:after {
      @extend .material-icons;
      content: 'keyboard_arrow_up';
      padding-left: 5px;
    }
  }
}

tr.drag {
  background: color($highlight-color-base, "lighten-4");
  border-bottom: 1px dashed color($utility, "darken-2");
  border-top: 1px dashed color($utility, "darken-2");
}

table.highlight tbody, table tbody {
  tr.drag-previous, tr.drag-previous.field-plugin-settings-editing, tr.drag.field-plugin-settings-editing, tr.drag {
    @extend .yellow, .lighten-5;
    border-bottom: 2px dashed color($highlight-color-base, "lighten-4");
    border-top: 2px dashed color($highlight-color-base, "lighten-4");
    &:hover {
      background:color($highlight-color-base, "lighten-4")!important;
    }
  }
}

.draggable {
  min-height: 30px;
  a.tabledrag-handle {
    float: none;
    display: inline-block;
    overflow: visible;
    height: auto;
    vertical-align: middle;
    &~* {
      display: inline-block;
      vertical-align: middle;
      padding: 5px;
    }
    .handle {
      width: 30px;
      height: 30px;
      background: none;
      &:before {
        @extend .material-icons;
        content: 'drag_handle';
        color: color($utility, "darken-2");
        font-size: 20px;
      }
    }
  }
}

//editing widget table styling 
table > tbody > tr.field-plugin-settings-editing {
  @extend .grey, .lighten-5;
  border-bottom: 2px solid color($accent, "darken-2");
  border-top: 2px solid color($accent, "darken-2");
}

.tabledrag-changed-warning {
  padding: 10px;
  font-size: 1em;
}

.tabledrag-toggle-weight-wrapper {
  .tabledrag-toggle-weight {
    @extend .button-link;
  }
}
