/* @file
 * Common low level styles for Views UI
 *
 */

// Views UI.
.views-ui-display-tab-bucket__title {
  font-size: 1.5rem;
}

.views-ui-display-tab-bucket+.views-ui-display-tab-bucket {
  border-top: 1px solid color($utility, "lighten-2");
  border-bottom: 1px solid color($utility, "lighten-2");
}

.views-display-column {
  border: none;
}

.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background-color: $body-background;
}

.views-ui-display-tab-bucket .views-display-setting {
  font-size: inherit;
}

.views-display-setting .label,
.views-display-setting .views-ajax-link {
  float: none;
}

.views-admin .dropbutton-wrapper {
  a.icon.add,
  a.ellipsis-icon {
    text-indent: 0;
    background: inherit;
    height: inherit;
    width: inherit;
    border: inherit;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: none;
    }
  }
}

.views-admin {
  .form-edit .form-actions {
    background-color: color($utility, "lighten-4");
    border: none;
    padding:1em;
  }
}

.views-admin .collection-item,
.views-admin .collection {
  overflow: visible;
}

.views-ui-display-tab-bucket .views-display-setting:not(.collection-item):not(.views-ui-display-tab-setting){
  padding: 15px;
}

.views-ui-display-tab-bucket.views-ui-display-tab-actions {
  padding:15px 0px;
}

.views-ui-display-tab-bucket .dropbutton-wrapper {
  position: absolute;
  right: 0;
}



.views-ui-display-tab-bucket {
  padding-top: 0;
}

.views-ui-display-tab-actions .dropbutton-wrapper li a,
.views-ui-display-tab-actions .dropbutton-wrapper input {
  font-size: 16px;
  color: color($accent, "lighten-1");
  display: block;
  line-height: 22px;
  padding: 14px 16px;
  text-transform: none;
}

.views-display-top .dropbutton-wrapper {
  z-index: 1;
}

details.views-display-column.form-wrapper {
  margin-left: 2%;
  margin-top: 0.5rem;
  >.details-wrapper {
    padding: 0;
  }
  .collection:not(:first-child) {
    border-bottom: 1px solid color($utility, "lighten-2");
  }
}

.collection>.collection.views-subcollection {
  &:first-of-type {
    padding-top: 1rem;
  }
  &:only-of-type {
    padding-top: 0;
    >.label {
      display: none;
    }
    .collection-item {
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  padding-top: .5rem;
  .label {
    font-size: .9rem;
    padding-left: 15px;
  }
  .collection-item {
    padding-left: 40px;
    border: none;
    &:first-of-type {
      margin-top: 5px;
    }
  }
}

#edit-display-settings-top {
  padding-bottom: 0;
  border: 0;
  .views-display-setting {
    .label {
      display: none;
    }
    a {
      font-size: 1.5rem;
    }
  }
}

.views-display-top {
  background-color: inherit;
  padding: 0;
}

.views-displays {
  border: none
}

.views-admin .unit-title {
  display: none;
}

.view-changed {
  font-size: 1rem;
  font-weight: normal;
}

.views-displays .tabs.secondary li {
  margin: 0;
  a {
    padding: 0 24px;
    font-size: 14px;
    border: 0;
    line-height: 48px;
    background: transparent;
    &.active {
      border-bottom: 2px solid color($secondary, "lighten-1");
      border-radius: 0;
    }
    &:hover {
      color: color($secondary, "lighten-1");
    }
  }
  &.add {
    margin-top: 5px;
    margin-left: 20px;
    a {
      @extend .btn, .btn-flat;
      line-height: 36px;
      text-decoration: none;
      border-radius: 2px;
      .icon {
        display: none;
      }
      &:hover {
        color: color($utility, "darken-3");
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    ul {
      background: $white;
      @extend .z-depth-2;
      border: 0;
      padding: 0;
      top: 0;
      z-index: 51;
      li {
        clear: both;
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        min-height: 50px;
        line-height: 1.5rem;
        width: 100%;
        text-align: left;
        text-transform: none;
        background: transparent;
        border: 0;
        &:hover {
          background-color: #eee;
        }
        i {
          border: 0;
          box-shadow: none;
          display: block;
          background: none;
          color: inherit;
          padding: inherit;
          &:hover {
            background-color: transparent;
          }
        }
        input {
          font-size: 16px;
          font-weight: normal;
          color: color($accent, "lighten-1");
          display: block;
          line-height: 22px;
          padding: 14px 16px;
          text-transform: none;
          border:0;
          box-shadow:none;
        }
      }
    }
  }
}

// views listing page
#views-entity-list {
  .form-type-search {
    margin: 4em 0;
  }
}

.views-ui-view-name {
  h3 {
    font-size: 1em;
    font-weight: 400;
  }
}

.views-list-section {
  margin: 4em 0;
  h2 {
    font-size: 1.6em;
    font-weight: normal;
  }
}

// FOUC fixes for Views UI.
#views-display-menu-tabs~input.add-display {
  display: none;
}

.view-changed.messages.js-hide {
  display: none;
}

#edit-display-settings-top .dropbutton:not(.dropdown-content) {
  display: none;
}

.views-preview-wrapper {
  margin-top: 3em;
  .view-preview-form {
    .view-preview-form__title {
      background: color($utility, "lighten-4");
      @extend .small-header;
    }
    .arguments-preview,
    .form-item-view-args {
      margin: 10px 20px!important;
    }
  }
}

.views-filterable-options {
  border-top: none;
  .filterable-option .title {
    font-weight: $global-weight-normal;
  }
}


// Views exposed form and bulk filter styles.

.view {
  position: relative;
  .views-bulk-form-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: color($accent, "lighten-4");
    opacity: 0;
    transition: .2s;
    border-bottom: 1px solid color($utility, "lighten-1");
    >.form-wrapper:first-child {
      display: none;
    }
    label[for="edit-action"] {
      display: none;
    }
    .dropbutton-wrapper {
      float: right;
    }
    .views-bulk-form-count {
      float: left;
      color: color($accent, "darken-1");
    }
  }
  &.has-selection {
    .views-bulk-form-header {
      opacity: 1;
    }
    .exposed-form-collapsible {
      opacity: 0;
    }
  }
}

#views-live-preview {
  .view {
    &.has-selection {
      .exposed-form-collapsible {
        opacity: 1;
      }
    }
    .views-bulk-form-header {
      position: relative;
      display: inline-block;
    }
  }
}

// Responsive Views styles.
@media #{$small-and-down} {
  .sticky-header {
    top: 0 !important;
  }
  .views-table.tablesaw-stack {
    thead .select-all.views-field {
      display: block;
      label {
        color: color($utility, "base");
      }
    }
    tbody {
      tr {
        position: relative;
      }
      td {
        .tablesaw-cell-label {
          font-weight: 200;
          color: color($utility, "base");
          &:after {
            content: ":";
            right: 0;
            color: color($utility, "base");
            font-weight: 400;
          }
        }
        padding: 20px 0 0 20px;
        &[class*="bulk-form"] {
          .tablesaw-cell-label {
            display: none;
          }
          .form-item {
            margin: 0;
          }
        }
        &.views-field-operations {
          .tablesaw-cell-label {
            display: none;
          }
          .tablesaw-cell-content {
            position: absolute;
            top: 10px;
            right: 0;
          }
        }
      }
    }
  }
}

.views-table .select-all.views-field label {
  color: transparent;
}

.views-button {
  span, i {
    display:inline-block;
    vertical-align: middle;
    line-height: inherit;
  }
}

.views-admin .form-type-checkbox label, .views-admin .form-type-radio label {
  line-height: inherit;
}

.view-preview-form .form-item-live-preview {
  top:5px;
  font-size: 1.3rem;
}

.views-ui-dialog {
  padding:1em 2em;
  .views-override:not(:empty) {
    padding: 20px 15px;
    @extend .z-depth-1;
    z-index: 3;
  }
}
