/* @file
 * Common low level styles
 *
 */

.material-tooltip {
  pointer-events: auto; //set max width to a readible length (700px max)
  max-width: $max-readability-width;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  &.small-header {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 25px;
    color: $header-title-small;
  }
}

h3 {
  font-size: 1.5rem;
}

body {
  font-family: $body-font-family;
  background: $body-background;
  @include tablesaw-stack( $small-screen);
}

@media #{$medium-and-up} {
  .material-container.row {
    width: 95%;
    margin: 0 auto!important;
  }
  .fixed-width-row.row {
    width: $global-width;
    margin: 0 auto!important;
  }
}

@media #{$small-and-down} {
  #main-wrapper>.material-container.row {
    padding: 20px 0px;
  }
}

.row.highlighted-container.material-container {
  padding: 0;
  .region-highlighted>*:first-child {
    padding-top: 20px;
  }
  .region-highlighted>*:last-child {
    padding-bottom: 20px;
  }
  .region-highlighted>#block-material-admin-help {
    padding-top: 20px;
    >*:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.row .row {
  padding: 20px 0;
}

hr {
  border: 1px solid color($utility, "lighten-2");
  margin: 1em 0;
}

.v-middle {
  vertical-align: middle;
}

// Inputs inside dropbuttons dont align properly without this browser specifc styling.
ul.dropbutton {
  input {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
  }
}

label {
  box-sizing: border-box;
}

.description {
  //tooltip readability
  .material-tooltip {
    max-width: $max-readability-width;
    line-height: 1.5em;
    font-weight: 100;
  }
}

.tooltipped,
.filter-help {
  font-size: .8em;
  .material-icons {
    font-size: 1.5em;
    vertical-align: text-bottom;
  }
}

.filter-help {
  text-align: right;
}

.text-format-wrapper {
  position: relative;
}

.error-text-color,
.button--danger {
  color: $error-text;
}

.color-error {
  background: color($error-color-base, "lighten-4");
}

.error-color,
.errors-color {
  background: $error-bg;
}

.warning-text-color {
  color: $warning-text;
}

.color-warning {
  background: color($warning-color-base, "lighten-4");
}

.warning-color,
.warnings-color {
  background: $warning-bg;
}

.status-text-color {
  color: $status-text;
}

.color-success {
  background: color($status-color-base, "lighten-4");
}

.status-color,
.checked-color {
  background: $status-bg;
}

.button-action {
  @extend .btn;
  background: $button-action;
  color: $button-action-text;
  &:before {
    @extend .material-icons;
    content: 'add';
    color: $white;
    margin: 0 10px 0 0px;
  }
  &:hover {
    background: $button-action-hover;
  }
}


.button.button--danger {
  &:hover {
    background: color($utility, "lighten-4")!important;
  }
}

.btn-flat-action {
  color: color($action, "accent-2")
}

.inline {
  display: inline;
}

// buttons that appear as flat links
.button-link {
  @extend .btn-flat;
  &:hover {
    background: color($utility, "lighten-3")
  }
}

.collapse-right {
  content: 'keyboard_arrow_right';
  right: 20px;
  position: absolute;
  color: color($utility, "base");
  font-weight: 700;
  font-size: 1.5em;
}

.collapse-down {
  content: 'keyboard_arrow_down';
  right: 20px;
  color: color($utility, "base");
  position: absolute;
  font-weight: 700;
  font-size: 1.5em;
}

.toast {
  word-break: normal;
}

.row {
  padding: 20px;
  margin: 0;
}

.region-status {
  .row {
    padding: 0;
  }
}

.select-wrapper input.select-dropdown {
  user-select: none;
}

.btn+.btn {
  margin: 0 10px;
}

nav {
  background: transparent;
  box-shadow: none;
}

.action-links {
  margin-bottom: 2rem;
  li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a.button {
  &:hover {
    text-decoration: none;
  }
}

.x-small {
  height: $card-xs-height;
}

.card {
  .card-content {
    .card-title {
      line-height: $card-title-height;
    }
  }
}

.card-action {
  li {
    display: inline-block;
  }
  a {
    color: $card-link-color;
    margin-right: $card-padding;
    transition: color .3s ease;
    text-transform: uppercase;
    &:hover {
      color: $card-link-color-light;
    }
  }
}

.shadow {
  @extend .z-depth-1;
}

details {
  border: none!important;
}

.shadow-box {
  padding: 10px 15px;
}

.button--small {
  font-size: .8em;
}

//change how clear fix works so it doesnt disrupt OOTB drupal clearfix
.clearfix {
  clear: none;
  &:after {}
}

.collapsible .collapsible-header {
  background: $body-background;
}

//arrows indicating open/closed collapsible component
.collapsible li {
  position: relative;
  &.active {
    .collapsible-header.with-arrows {
      &:after {
        @extend .material-icons,
        .collapse-down;
      }
    }
    .collapsible-header.right-arrows {
      &:after {
        @extend .material-icons,
        .collapse-down;
        top: 0.5em;
      }
    }
  }
  .collapsible-header.with-arrows {
    &:after {
      @extend .material-icons,
      .collapse-right;
    }
  }
  .collapsible-header.right-arrows {
    &:after {
      @extend .material-icons,
      .collapse-right;
      top: 0.5em;
    }
  }
}

.collapsible-body {
  font-weight: 500;
  .description {
    padding: 1em 0;
    font-weight: 300;
  }
}

details.form-wrapper summary {
  align-items: center;
}


// for the default drupal 'marker' add the badge styles 
span.marker {
  @extend .badge;
  background: color($accent, "lighten-2");
  color: $white;
  font-size: .8em;
  font-weight: 300;
  border-radius: 2px;
}

// override waves wrapper
.waves-input-wrapper {
  vertical-align: middle;
}

.select-wrapper+label {
  left: 0;
} //ckeditor fix as it wont work with box-sizing
.ckeditor-buttons:before,
.ckeditor-buttons:after,
.ckeditor-buttons {
  box-sizing: initial;
}

//hide border from getting added to tabs by jqueryUI
.tabs.tabs-transparent {
  border: none;
}


//offset top tabs by removing the row margin to line the text up with the header 
@media #{$medium-and-up} {
  .offset-tabs {
    margin-left: -20px
  }
}

.collection.with-header .collection-header.no-bottom-border {
  border-bottom: 0;
}

//FAB override
.fixed-action-btn.horizontal ul {
  width: $global-width;
}