h1 {
    font-size: 2.5rem;
    margin: 1rem;
}

h2 {
    font-size:2rem;
}

h3 {
    font-size:1.5rem;
}

.button-action {
    @extend .btn;
    @extend .waves-effect;
    @extend .waves-light;
    @extend .red;
    &:before {
        content: $fa-var-plus;
        color: $white;
        vertical-align: top;
        display: inline-block;
        font-family: 'FontAwesome';
        font-weight: normal;
        font-style: normal;
        margin:0 10px 0 0px;
        -webkit-font-smoothing: antialiased;
    }
}

.row {
  padding:20px;
  margin:0;
}

input.button {
    @extend .btn;
    @extend .waves-effect;
}

.action-links li {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

a.button {
  &:hover {
    text-decoration:none;
  }
}

.shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


//checkbox fix to work with materialize
.js-form-type-checkbox {
  label.visually-hidden {
    position:relative!important;
    text-indent: -999999px;
    clip:inherit;
    overflow: visible;
    visibility: hidden;
    &:before, &:after {
      visibility: visible;
    }
  }
}

.views-field-node-bulk-form {
  padding-left:10px;

}


