/* @file
 * Common low level styles
 *
 */

.material-tooltip {
  pointer-events: auto;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  &.small-header {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 25px;
    @extend .grey-text,
    .text-darken-3;
  }
}

h3 {
  font-size: 1.5rem;
}

body {
  font-family: $body-font-family;
  background: $body-background;
  @include tablesaw-stack( $small-screen);
}

@media #{$medium-and-up} {
  .material-container.row {
    width: 95%;
    margin: 0 auto!important;
  }
  .fixed-width-row.row {
    width: $global-width;
    margin: 0 auto!important;
  }
}

@media #{$small-and-down} {
  #main-wrapper>.material-container.row {
    padding: 20px 0px;
  }
}

.row .row {
  padding: 20px 0;
}

td,
th {
  padding: 15px;
}

hr {
  border: 1px solid color("grey", "lighten-2");
  margin: 1em 0;
}

// Inputs inside dropbuttons dont align properly without this browser specifc styling.
ul.dropbutton {
  input {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
  }
}

label {
  box-sizing: border-box;
}

.description {
  //tooltip readability
  .material-tooltip {
    max-width: 36em;
    line-height: 1.5em;
    font-weight: 100;
  }
}

.tooltipped,
.filter-help {
  font-size: .8em;
}
.filter-help {
  text-align: right;
}

.text-format-wrapper {
  position:relative;

}

.description.modal-trigger {
  text-transform: none;
  font-size: .8em;
  padding: 0;
  margin: 10px 5px;
  display: block;
  color: color("light-blue", "darken-1")
}

.error-text-color {
  @extend .red-text,
  .text-lighten-3;
}

.warning-text-color {
  @extend .yellow-text,
  .text-darken-2;
}

.status-text-color {
  @extend .green-text,
  .text-darken-2;
}

.color-warning,
.warning-color,
.warnings-color {
  @extend .yellow,
  .lighten-4;
}

.color-success,
.status-color,
.checked-color {
  @extend .green,
  .lighten-4
}

.color-error,
.error-color,
.errors-color {
  @extend .red,
  .lighten-4;
}

.button-action {
  @extend .btn,
  .red,
  .accent-2,
  .white-text;
  &:before {
    @extend .fa-standard;
    content: $fa-var-plus;
    color: color("shades", "white");
    margin: 0 10px 0 0px;
  }
  &:hover {
    @extend .lighten-1;
  }
}

.inline {
  display: inline;
}

// buttons that appear as flat links
.button-link {
  @extend .btn-flat;
  &:hover {
    background:color("grey","lighten-3")
  }
}

.fa-standard {
  vertical-align: top;
  display: inline-block;
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

.fa-collapse-right {
  content: $fa-var-angle-right;
  right: 20px;
  position: absolute;
  color: color("grey", "base");
  font-weight: 700;
  font-size: 1.5em;
}

.fa-collapse-down {
  content: $fa-var-angle-down;
  right: 20px;
  color: color("grey", "base");
  position: absolute;
  font-weight: 700;
  font-size: 1.5em;
}

.toast {
  word-break: normal;
}

.row {
  padding: 20px;
  margin: 0;
}

.region-status {
  .row {
    padding: 0;
  }
}

.select-wrapper input.select-dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none; // latest Opera versions support -webkit-
  user-select: none;
}

.btn+.btn {
  margin: 0 10px;
}

nav {
  background: transparent;
  box-shadow: none;
}

.action-links {
  margin-bottom: 2rem;
  li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a.button {
  &:hover {
    text-decoration: none;
  }
}

.x-small {
  height: 150px;
}

.card {
  .card-content {
    .card-title {
      line-height: 35px;
    }
  }
}

.card-action {
  li {
    display: inline;
  }
  a {
    color: $card-link-color;
    margin-right: $card-padding;
    transition: color .3s ease;
    text-transform: uppercase;
    &:hover {
      color: $card-link-color-light;
    }
  }
}

.shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2)
}

details {
  border: none!important;
}

.shadow-box {
  padding: 10px 15px;
}

.button--small {
  @extend .btn-flat;
  font-size: .8em;
}

//change how clear fix works so it doesnt disrupt OOTB drupal clearfix
.clearfix {
  clear: none;
  &:after {}
}

.collapsible .collapsible-header {
  background: $body-background;
}

//arrows indicating open/closed collapsible component
.collapsible li {
  position: relative;
  &.active {
    .collapsible-header.with-arrows {
      &:before {
        @extend .fa-standard;
        content: $fa-var-angle-down;
        padding: 0px 5px;
      }
    }
    .collapsible-header.right-arrows {
      &:after {
        @extend .fa-standard,
        .fa-collapse-down;
        top: 0.5em;
      }
    }
  }
  .collapsible-header.with-arrows {
    &:before {
      @extend .fa-standard;
      content: $fa-var-angle-right;
      padding: 0px 5px;
    }
  }
  .collapsible-header.right-arrows {
    &:after {
      @extend .fa-standard,
      .fa-collapse-right;
      top: 0.5em;
    }
  }
}

.collapsible-body {
  font-weight: 500;
  .description {
    padding: 1em 0;
    font-weight: 300;
  }
}

details.form-wrapper summary {
  align-items: center;
}


// for the default drupal 'marker' add the badge styles 
span.marker {
  @extend .badge,
  .teal,
  .lighten-2,
  .white-text;
  font-size: .8em;
  font-weight: 300;
  border-radius: 2px;
}

// override waves wrapper
.waves-input-wrapper {
  vertical-align: middle;
}

.select-wrapper+label {
  left: 0;
} //ckeditor fix as it wont work with box-sizing
.ckeditor-buttons:before,
.ckeditor-buttons:after,
.ckeditor-buttons {
  box-sizing: initial;
}

//hide border from getting added to tabs by jqueryUI
.tabs.tabs-transparent {
  border: none;
}


//offset top tabs by removing the row margin to line the text up with the header 
@media #{$medium-and-up} {
  .offset-tabs {
    margin-left: -20px
  }
}

.collection.with-header .collection-header.no-bottom-border {
  border-bottom: 0;
}

.progress {
  overflow: inherit;
  height: 10px;
  .progress__track {
    background-color: color("teal", "accent-1");
    border-color: color("teal", "accent-1");
    background-image: none;
    box-shadow: none;
    border-radius: 0;
    height: 10px;
    .progress__bar {
      @extend .determinate;
      border: 0;
      background: none;
      background-color: color("teal", "lighten-1");
      margin: 0;
      height: 10px;
      border-radius: 0;
    }
  }
}

.message-action {
  font-size: .8rem;
  font-weight: 500;
  margin-right: 0;
  margin-left: 3rem;
}