/* @file
 * Layout
 *
 */

//Header 
.region-header {
  display: block;
}

.layout-container {
  margin: 0;
  padding: 0;
}

header.header-wrapper {
  @extend .blue;
  h1 {
    @extend .white-text;
    font-weight: 300;
    font-size: 2rem;
    margin: 2rem 0 2rem 0;
    text-transform: capitalize;
    @media #{$small-and-down} {
      font-size: 1.5rem;
      margin: 2rem 0 2rem 0;
    }
  }
  .row.material-container {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

#block-material-admin-sitebranding {
  a.site-logo {
    img {
      max-width: 125px;
    }
  }
}

body.material_login {
  background: color("grey", "lighten-4")
}

// Trigger notifications button
a.modal-trigger {
  transition: color .3s ease;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 10px;
  color: color("shades", "black");
  ;
  &:hover {
    color: color("grey", "darken-2");
  }
}

//region title action
.region-title__action {
  .button {
    @extend .btn-flat;
    &:after {
      @extend .material-icons;
      content: 'add';
    }
  }
}

.row.material-container {
  padding: 20px 5px;
}

.utility-wrapper {
  @extend .blue, .lighten-2, .z-depth-1;
}

#block-material-admin-page-title h1.page-title {
  em {
    font-style: normal;
  }
  em:not(.placeholder) {
    &:after {
      content: " - ";
    }
  }
}

.compact-link {
  a {
    @extend .button-link;
  }
}
